/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.why-paused {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
  padding: 10px 10px 10px 20px;
  white-space: normal;
  opacity: 0.6;
  font-size: 12px;
  flex: 0 1 auto;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  cursor: default;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}

.why-paused .message {
  font-size: 10px;
}

.why-paused .message.warning {
  font-size: 10px;
  color: var(--theme-graphs-red);
  font-weight: bold;
  font-style: normal;
}
