.why-paused {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
  padding: 10px 10px 10px 20px;
  white-space: normal;
  opacity: 0.6;
  font-size: 12px;
  flex: 0 1 auto;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}

.why-paused .message {
  font-size: 10px;
}

.why-paused .message.warning {
  font-size: 10px;
  color: var(--theme-graphs-red);
  font-weight: bold;
}
