.close-btn path {
  fill: var(--theme-comment-alt);
}

.close-btn .close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  padding: 2px;
  text-align: center;
  margin-top: 2px;
  line-height: 7px;
  transition: all 0.25s easeinout;
}

.close-btn .close svg {
  width: 8px;
}

.close-btn:hover {
  display: block;
}

.close-btn:hover .close {
  background: var(--theme-selection-background);
  border-radius: 2px;
}

.close-btn:hover .close path {
  fill: white;
}

.close-btn-big {
  padding: 11px;
  width: 27px;
  height: 40px;
}

.close-btn-big .close {
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  text-align: center;
  transition: all 0.25s easeinout;
  line-height: 100%;
  width: 16px;
  height: 16px;
}

.close-btn-big .close svg {
  width: 9px;
  height: 9px;
}

.close-btn-big .close:hover {
  border-radius: 2px;
}
