.close-btn path {
  fill: var(--theme-comment-alt);
}

.close-btn .close {
  width: 14px;
  height: 14px;
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0;
  margin-top: 0;
  display: inline-flex;
  justify-content: center;
}

.close-btn .close svg {
  width: 8px;
}

.close-btn:hover {
  display: block;
}

.close-btn:hover .close {
  background: var(--theme-selection-background);
}

.close-btn:hover .close path {
  fill: white;
}

.close-btn.big {
  padding: 11px;
  margin-right: 7px;
  width: 27px;
  height: 40px;
}

.close-btn.big .close {
  width: 16px;
  height: 16px;
}

.close-btn.big .close svg {
  width: 9px;
}
