/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.close-btn {
  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  padding-left: 4px;
}

.close-btn .close {
  mask: url(/images/close.svg) no-repeat;
  mask-size: 100%;
  background-color: var(--theme-comment-alt);
  width: 8px;
  height: 8px;
  transition: all 0.15s ease-in-out;
  padding: 0;
  margin-top: 0;
  display: inline-flex;
  justify-content: center;
}

.close-btn:hover img.close {
  background-color: white;
}

.close-btn:hover {
  display: block;
  background-color: var(--theme-selection-background);
}

.close-btn.big {
  padding: 3px;
  width: 20px;
  height: 20px;
}

.close-btn.big .close {
  width: 16px;
  height: 16px;
}

.close-btn.big img.close {
  width: 12px;
}
