.command-bar-button {
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0px 5px;
  margin-inline-end: 0.3em;
  fill: currentColor;
}

.command-bar-button:focus {
  outline: none;
}

.command-bar-button:disabled {
  opacity: 0.8;
  cursor: default;
}

.command-bar-button:not(.disabled):hover {
  background: var(--theme-toolbar-background-hover);
}

:root.theme-dark .command-bar-button {
  color: var(--theme-body-color);
}

.command-bar-button > * {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
