.toggle-button-start,
.toggle-button-end {
  transform: translate(0, 0px);
  transition: transform 0.25s ease-in-out;
  padding: 5px 7px 5px 6px;
}

.toggle-button-start.vertical,
.toggle-button-end.vertical {
  padding: 2.5px 2.5px;
}

.toggle-button-start svg,
.toggle-button-end svg {
  width: 16px;
  fill: var(--theme-comment);
}

.theme-dark .toggle-button-start svg,
.theme-dark .toggle-button-end svg {
  fill: var(--theme-comment-alt);
}

.toggle-button-end {
  margin-inline-end: 0px;
  margin-inline-start: auto;
}

.toggle-button-start {
  margin-inline-start: 0px;
}

html:not([dir="rtl"]) .toggle-button-end svg,
html[dir="rtl"] .toggle-button-start svg {
  transform: rotate(180deg);
}

html .toggle-button-end.vertical svg {
  transform: rotate(-90deg);
}

.toggle-button-start.collapsed,
.toggle-button-end.collapsed {
  transform: rotate(180deg);
}
