.toggle-button-start,
.toggle-button-end {
  width: 14px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
  align-self: flex-end;
  padding: 2px;
}

.toggle-button-start svg,
.toggle-button-end svg {
  fill: var(--theme-comment);
}

.toggle-button-end {
  margin-left: auto;
}

html:not([dir="rtl"]) .toggle-button-end svg,
html[dir="rtl"] .toggle-button-start svg {
  transform: rotate(180deg);
}

html .toggle-button-end.vertical svg {
  transform: rotate(-90deg);
}

.toggle-button-start.collapsed,
.toggle-button-end.collapsed {
  transform: rotate(180deg);
}
