.toggle-button-start, .toggle-button-end {
  transform: translate(0, 2px);
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
  padding: 5px 2px;
}

.toggle-button-start.vertical, .toggle-button-end.vertical {
  padding: 4px 2px;
}

.toggle-button-start svg, .toggle-button-end svg {
  width: 16px;
  fill: var(--theme-comment);
}

.theme-dark .toggle-button-start svg, .theme-dark .toggle-button-end svg {
  fill: var(--theme-comment-alt);
}

.toggle-button-end {
  margin-inline-end: 5px;
  margin-inline-start: auto;
}

.toggle-button-start {
  margin-inline-start: 5px;
}

html:not([dir="rtl"]) .toggle-button-end svg,
html[dir="rtl"] .toggle-button-start svg {
  transform: rotate(180deg);
}

html .toggle-button-end.vertical svg {
  transform: rotate(-90deg);
}

.toggle-button-start.collapsed, .toggle-button-end.collapsed {
  transform: rotate(180deg);
}
