/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree {
  overflow: auto;
}

.tree.inline {
  display: inline-block;
}

.tree.nowrap {
  white-space: nowrap;
}

.tree.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tree .tree-node {
  display: flex;
}

.tree .tree-node:not(.focused):hover {
  background-color: var(--theme-selection-background-hover);
}

.tree-indent {
  display: inline-block;
  width: 12px;
  margin-inline-start: 5px;
  border-inline-start: 1px solid #A2D1FF;
  flex-shrink: 0;
}

/* Align with expandables siblings (where we have the arrow) */
.tree-node[data-expandable="false"] .tree-indent:last-of-type {
  margin-inline-end: 15px;
}

/* For non expandable root nodes, we don't have .tree-indent elements, so we declare
   the margin on the start of the node */
.tree-node[data-expandable="false"][aria-level="1"] {
  padding-inline-start: 15px
}

.tree .tree-node[data-expandable="true"] {
  cursor: default;
}

.tree-node img.arrow {
  mask: url(/images/arrow.svg) no-repeat;
  mask-size: 100%;
  width: 9px;
  height: 9px;
  margin-inline-start: 1px;
  margin-inline-end: 4px;
  background-color: var(--theme-splitter-color, #9B9B9B);
  transform: rotate(-90deg);
  transition: transform 0.125s ease;
  align-self: center;
}

html[dir="rtl"] .tree-node img.arrow {
  transform: rotate(90deg);
}

.tree-node img.arrow.expanded.expanded {
  transform: rotate(0deg);
 }

.tree .tree-node.focused {
  color: white;
  background-color: var(--theme-selection-background, #0a84ff);
}

.tree-node.focused img.arrow {
  background-color: currentColor;
}
