public/build/*
public/js/lib/tree.js
public/js/utils/imstruct.js
public/js/test/examples/**
public/js/test/integration/**
public/js/test/unit-sources/**
public/js/test/mochitest/head.js
public/js/test/mochitest/examples/**
webpack.config.*

packages/devtools-modules/**/*.js
packages/devtools-sham-modules/**/*.js
bin/

