{
  "plugins": [
    "stylelint-prettier",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "block-no-empty": true,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-whitespace-after": "always",
    "no-invalid-double-slash-comments": true,
    "no-missing-end-of-source-newline": true,
    "plugin/selector-bem-pattern": {
      "componentName": "^[a-zA-Z-]+$",
      "componentSelectors": "^\\.{componentName}(?:[-_]+[\\w-]+)?(?:[\\.:][\\w-]+|\\[\\S+\\])*$"
    },
    "prettier/prettier": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-case": "lower",
    "string-no-newline": true
  }
}
