/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.call-site {
  position: relative;
  border-bottom: 2px solid lightgrey;
  cursor: pointer;
}

.call-site::before {
  content: "";
  mask: url(/images/column-marker.svg) no-repeat 100% 100%;
  mask-size: contain;
  display: inline-block;
  background-color: var(--blue-55);
  opacity: 0.5;
  width: 9px;
  height: 12px;
}

.call-site-bp {
  position: relative;
  border-bottom: 2px solid #aed3ef;
  cursor: pointer;
}

.call-site-bp::before {
  content: "";
  mask: url(/images/column-marker.svg) no-repeat 100% 100%;
  mask-size: contain;
  display: inline-block;
  background-color: var(--blue-55);
  width: 9px;
  height: 12px;
}

.theme-dark .call-site {
  border-bottom: none;
}

.theme-dark .call-site-bp {
  border-bottom: none;
}

.theme-dark .call-site::before {
  background-color: var(--blue-60);
  opacity: 1;
}

.theme-dark .call-site-bp::before {
  background-color: var(--blue-50);
  opacity: 0.5;
}
