/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.call-site {
  display: inline;
}

.call-site svg {
  display: inline;
  cursor: pointer;
  width: 9px;
  height: 12px;
}

.call-site.active svg {
  fill: var(--blue-50);
  stroke: var(--blue-60);
}

.call-site.disabled svg {
  fill: var(--blue-50);
  stroke: var(--blue-40);
  fill-opacity: 0.5;
}

.theme-dark .call-site.active svg {
  fill: var(--blue-55);
  stroke: var(--blue-40);
}

.theme-dark .call-site.disabled svg {
  fill: var(--blue-50);
  stroke: var(--blue-60);
  fill-opacity: 0.5;
}
