.conditional-breakpoint-panel {
  cursor: initial;
  margin: 1em 0;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--theme-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
}

.conditional-breakpoint-panel .prompt {
  font-size: 1.8em;
  color: var(--theme-highlight-blue);
  padding-left: 3px;
}

.conditional-breakpoint-panel input {
  margin: 5px 10px;
  width: calc(100% - 4em);
  border: none;
  background: var(--theme-toolbar-background);
  font-size: 14px;
  color: var(--theme-comment);
  line-height: 30px;
}

.conditional-breakpoint-panel input:focus {
  outline-width: 0;
}
