.conditional-breakpoint-panel {
  cursor: initial;
  margin: 1em 0;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--theme-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
}

.conditional-breakpoint-panel .prompt {
  font-size: 1.8em;
  color: var(--theme-highlight-blue);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  text-align: right;
  width: 30px;
}

.conditional-breakpoint-panel .panel-mount {
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
