.source-footer {
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 1px;
  opacity: 1;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
  height: var(--editor-footer-height);
  box-sizing: border-box;
}

.source-footer .commands {
  display: flex;
  align-items: center;
}

.source-footer .commands * {
  -moz-user-select: none;
  user-select: none;
}

.source-footer > .commands > .action {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms;
  border: none;
  background: transparent;
  padding: 6px 0.7em;
}

.source-footer > .commands > .action i {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.source-footer > .commands > button.action:focus {
  outline: none;
}

:root.theme-dark .source-footer > .commands > .action {
  fill: var(--theme-body-color);
}

:root.theme-dark .source-footer > .commands > .action:hover {
  fill: var(--theme-selection-color);
}

.source-footer > .commands > .action svg {
  height: 16px;
  width: 16px;
}

.source-footer .commands .coverage {
  color: var(--theme-body-color);
}

.coverage-on .source-footer .commands .coverage {
  color: var(--theme-highlight-blue);
  border: 1px solid var(--theme-body-color-inactive);
  border-radius: 2px;
}

.source-footer .black-box.blackboxed svg {
  fill: var(--theme-highlight-blue);
}

.source-footer .blackbox-summary {
  color: var(--theme-body-color);
}
