.preview {
  background: var(--theme-body-background);
  width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  padding: 10px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
  box-shadow: 1px 2px 4px 1px var(--theme-toolbar-background-alt);
}

.preview .header {
  width: 100%;
  line-height: 20px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
}

.preview .header .link {
  align-self: flex-end;
  color: var(--theme-highlight-blue);
  text-decoration: underline;
}
.preview .header .link:hover {
  cursor: pointer;
}

.selected-token {
  background-color: var(--theme-search-overlays-semitransparent);
  color: var(--theme-selection-color);
}

.selected-token:hover {
  cursor: pointer;
}

.preview .function-signature {
  padding-top: 10px;
}

.function-signature {
  line-height: 20px;
  align-self: center;
}

.function-signature .function-name {
  color: var(--theme-highlight-blue);
}

.function-signature .param {
  color: var(--string-color);
}

.function-signature .paren {
  color: var(--object-color);
}

.function-signature .comma {
  color: var(--object-color);
}

.theme-dark .preview {
  border-color: var(--theme-body-color);
}

.theme-dark .preview .arrow svg {
  fill: var(--theme-comment);
}

.tooltip {
  background: var(--theme-toolbar-background);
  max-width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 1px 2px 4px 1px var(--theme-toolbar-background-alt);
  padding: 5px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
  cursor: pointer;
}

.theme-dark .tooltip {
  border-color: var(--theme-body-color);
}

.tooltip::before,
.tooltip::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 7px solid transparent;
  left: calc(20% - 7px); /* corresponds to calculation in Popover.js */
}

.tooltip::before {
  border-top-color: var(--theme-splitter-color);
  bottom: -9px;
}

.theme-dark .tooltip::before {
  border-top-color: var(--theme-body-color);
}

.tooltip::after {
  border-top-color: var(--theme-toolbar-background);
  bottom: -8px;
}

.tooltip-content {
  position: fixed;
  z-index: 100;
}

.tooltip-gap {
  height: 4px;
  padding-top: 4px;
}
