.popover .preview {
  background: var(--theme-body-background);
  width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  padding: 10px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
}

.popover .preview .header {
  width: 100%;
  line-height: 20px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
}

.popover .preview .header .link {
  align-self: flex-end;
  color: var(--theme-highlight-blue);
  text-decoration: underline;
}
.popover .preview .header .link:hover {
  cursor: pointer;
}

.selected-token {
  background-color: var(--theme-search-overlays-semitransparent);
  color: var(--theme-selection-color);
}

.selected-token:hover {
  cursor: pointer;
}

.popover .preview .function-signature {
  padding-top: 10px;
}

.theme-dark .popover .preview {
  border-color: var(--theme-body-color);
}

.theme-dark .popover .preview .arrow svg {
  fill: var(--theme-comment);
}

.tooltip {
  position: fixed;
  z-index: 100;
}

.tooltip .preview {
  background: var(--theme-toolbar-background);
  max-width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 1px 2px 4px 1px var(--theme-toolbar-background-alt);
  padding: 5px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
  cursor: pointer;
}

.theme-dark .tooltip .preview {
  border-color: var(--theme-body-color);
}

.tooltip .gap {
  height: 4px;
  padding-top: 4px;
}

.add-to-expression-bar {
  border: 1px solid var(--theme-splitter-color);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  background: var(--theme-toolbar-background);
  color: var(--theme-comment-alt);
}

.add-to-expression-bar .prompt {
  padding-left: 3px;
  width: 1em;
}

.add-to-expression-bar .expression-to-save-label {
  width: calc(100% - 4em);
}

.add-to-expression-bar .expression-to-save-button {
  font-size: 14px;
  color: var(--theme-comment);
  cursor: pointer;
}
