
.search-bar {
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.search-bar .search-field {
  padding-left: 7px;
}

.search-bar .close-btn {
  padding: 6px;
}

.search-bottom-bar * {
  -moz-user-select: none;
  user-select: none;
}

.search-bottom-bar {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: calc(100% - 1px);
  height: 27px;
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 0 13px;
}

.search-bottom-bar button:focus {
  outline: none;
}

.search-bottom-bar .search-modifiers {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-modifiers button {
  padding: 0 3px;
  margin: 0 3px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.search-bottom-bar .search-modifiers button i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 16px;
}

.search-bottom-bar .search-modifiers button svg {
  fill: var(--theme-comment-alt);
  height: 16px;
  width: 16px;
}

.search-bottom-bar .search-modifiers button svg:hover {
  cursor: pointer;
}

.search-bottom-bar .search-modifiers button:active {
  outline: none;
}

.search-bottom-bar .search-modifiers button.active svg {
  fill: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-modifiers button.active svg {
  fill: white;
}

.search-bottom-bar .search-modifiers button.disabled svg {
  fill: var(--theme-comment-alt);
}

.search-bottom-bar .search-type-toggles {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-type-toggles .search-toggle-title {
  color: var(--theme-body-color-inactive);
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}

.search-bottom-bar .search-type-toggles .search-type-btn {
  margin: 0 6px;
  border: none;
  background: transparent;
  color: var(--theme-comment-alt);
}

.search-bottom-bar .search-type-toggles .search-type-btn:hover {
  cursor: pointer;
}

.search-bottom-bar .search-type-toggles .search-type-btn:active {
  outline: none;
}

.search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: white;
}

.search-bar .result-list {
  max-height: 230px;
}
