/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar .search-field {
  padding-left: 7px;
  height: var(--editor-searchbar-height);
}

.search-field .close-btn {
  align-self: center;
}

.search-bottom-bar * {
  -moz-user-select: none;
  user-select: none;
}

.search-bottom-bar {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  width: calc(100% - 1px);
  height: var(--editor-second-searchbar-height);
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 0 13px;
}

.search-bottom-bar .search-modifiers {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-modifiers button {
  padding: 0 3px;
  margin: 0 3px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.search-bottom-bar .search-modifiers button i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 16px;
}

.search-bottom-bar .search-modifiers button svg {
  fill: var(--theme-comment);
  height: 16px;
  width: 16px;
}

.search-bottom-bar .search-modifiers button:hover {
  background: var(--theme-toolbar-background-hover);
}

.search-bottom-bar .search-modifiers button.active svg {
  fill: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-modifiers button.active svg {
  fill: white;
}

.search-bottom-bar .search-type-toggles {
  display: flex;
  align-items: center;
  max-width: 68%;
}

.search-bottom-bar .search-type-name {
  padding: 1px 0 0 0;
  margin: 0 0 0 6px;
  border: none;
  background: transparent;
  color: var(--theme-comment);
}

.search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: white;
}

.search-bar .result-list {
  max-height: 230px;
}
