.search-bar {
  display: flex;
  flex-direction: column;
}

.search-field {
  width: calc(100% - 1px);
  height: 40px;
  background-color: var(--theme-body-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
}

.search-field i {
  display: block;
  padding: 13px;
  width: 40px;
}

.search-field i svg {
  width: 16px;
}

.search-field input {
  border: none;
  line-height: 30px;
  font-size: 14px;
  background-color: var(--theme-body-background);
  color: var(--theme-comment);
  width: calc(100% - 38px);
  flex: 1;
}

.search-field .magnifying-glass {
  background-color: var(--theme-body-background);
}

.search-field .magnifying-glass path,
.search-field .magnifying-glass ellipse {
  stroke: var(--theme-splitter-color);
}

.search-field input::placeholder {
  color: var(--theme-body-color-inactive);
}

.search-field input:focus {
  outline-width: 0;
}

.search-field input.empty {
  color: var(--theme-highlight-orange);
}

.search-field .summary {
  line-height: 40px;
  padding-right: 10px;
  color: var(--theme-body-color-inactive);
}

.search-bottom-bar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1px);
  height: 40px;
  background-color: var(--theme-body-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 0 13px;
}

.search-bottom-bar .search-modifiers {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-modifiers button {
  padding: 0 3px;
  margin: 0 3px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.search-bottom-bar .search-modifiers button i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 16px;
}

.search-bottom-bar .search-modifiers button svg {
  fill: var(--theme-comment);
}

.search-bottom-bar .search-modifiers button.active {
  background-color: var(--theme-selection-background);
}

.search-bottom-bar .search-modifiers button.active svg {
  fill: white;
}

.search-bottom-bar .search-type-toggles {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-type-toggles h1 {
  color: var(--theme-comment);
  font-size: 12px;
  margin: 0;
}

.search-bottom-bar .search-type-toggles .search-type-btn {
  margin: 0 6px;
  border: none;
  background: transparent;
  color: var(--theme-comment-alt);
}

.search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: var(--theme-selection-background);
  font-weight: bold;
}

