.search-bar {
  width: calc(100% - 1px);
  height: 40px;
  background-color: var(--theme-body-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
}

.search-bar i {
  display: block;
  padding: 13px;
  width: 40px;
}

.search-bar i svg {
  width: 16px;
}

.search-bar input {
  border: none;
  line-height: 30px;
  font-size: 14px;
  background-color: var(--theme-body-background);
  color: var(--theme-comment);
  width: calc(100% - 38px);
  flex: 1;
}

.search-bar .magnifying-glass {
  background-color: var(--theme-body-background);
}

.search-bar .magnifying-glass path,
.search-bar .magnifying-glass ellipse {
  stroke: var(--theme-splitter-color);
}

.search-bar input::placeholder {
  color: var(--theme-body-color-inactive);
}

.search-bar input:focus {
  outline-width: 0;
}

.search-bar input.empty {
  color: var(--theme-highlight-orange);
}

.search-bar .summary {
  line-height: 40px;
  padding-right: 10px;
  color: var(--theme-body-color-inactive);
}

.search-bar .search-modifiers {
  display: flex;
  align-items: center;
}

.search-bar .search-modifiers button {
  padding: 0 3px;
  margin: 0 3px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.search-bar .search-modifiers button i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 16px;
}

.search-bar .search-modifiers button.active {
  background-color: var(--theme-selection-background);
}

.search-bar .search-modifiers button.active svg {
  fill: white;
}
