/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.source-header {
  border-bottom: 1px solid var(--theme-splitter-color);
  width: 100%;
  height: 30px;
  display: flex;
}

.source-header * {
  -moz-user-select: none;
  user-select: none;
}

.source-header .new-tab-btn {
  padding: 4px;
  margin-top: 4px;
  margin-left: 2px;
  fill: var(--theme-comment);
  transition: 0.1s ease;
  align-self: center;
}

.source-header .new-tab-btn:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.source-header .new-tab-btn svg {
  width: 12px;
  display: block;
}

.source-tabs {
  max-width: calc(100% - 80px);
  align-self: flex-start;
}

.source-tab {
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all 0.15s ease;
  min-width: 40px;
  overflow: hidden;
  padding: 5px;
  margin-inline-start: 3px;
  margin-top: 3px;
  cursor: default;
  height: 27px;
}

.source-tab:first-child {
  margin-inline-start: 0;
}

.source-tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  border-color: var(--theme-splitter-color);
  border-bottom-color: transparent;
}

.source-tab.active path,
.source-tab:hover path {
  fill: var(--theme-body-color);
}

.source-tab img.prettyPrint {
  mask: url(/images/prettyPrint.svg) no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 12px;
  width: 12px;
  background: var(--theme-highlight-blue);
}

.source-tab .prettyPrint path {
  fill: var(--theme-textbox-box-shadow);
}

.source-tab .blackBox,
.source-tab .prettyPrint {
  align-self: center;
}

.source-tab img.blackBox {
  mask: url(/images/blackBox.svg) no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 12px;
  width: 12px;
  background: var(--theme-highlight-blue);
}

.source-tab img.react {
  mask: url(/images/react.svg) no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 14px;
  width: 14px;
  background: var(--theme-highlight-bluegrey);
}

.source-tab .blackBox path {
  fill: var(--theme-textbox-box-shadow);
}

.theme-dark .source-tab .blackBox circle {
  fill: var(--theme-body-color);
}

.source-tab .filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 4px;
  align-self: flex-start;
}

.source-tab .close-btn {
  visibility: hidden;
  line-height: 0;
}

.source-tab.active .close-btn {
  visibility: visible;
}

.source-tab:hover .close-btn {
  visibility: visible;
}
