.source-header {
  border-bottom: 1px solid var(--theme-splitter-color);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-end;
}

.source-header * {
  -moz-user-select: none;
  user-select: none;
}

.source-header .new-tab-btn {
  padding: 0px 4px;
  margin-top: 8px;
  cursor: pointer;
  fill: var(--theme-comment);
  transition: 0.1s ease;
  align-self: center;
}

.source-header .new-tab-btn svg {
  width: 12px;
}

.source-tabs {
  max-width: calc(100% - 80px);
  align-self: flex-end;
  display: flex;
  margin-bottom: -1px;
}

.source-tab {
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all 0.25s ease;
  min-width: 40px;
  overflow: hidden;
  padding: 5px;
  margin-inline-start: 3px;
}

.source-tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
  cursor: pointer;
}

.source-tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  border-color: var(--theme-splitter-color);
  border-bottom-color: transparent;
}

.source-tab.active path,
.source-tab:hover path {
  fill: var(--theme-body-color);
}

.source-tab .prettyPrint {
  line-height: 0;
}

.source-tab .prettyPrint svg {
  height: 12px;
  width: 12px;
}

.source-tab .prettyPrint path {
  fill: var(--theme-textbox-box-shadow);
}

.source-tab .blackBox {
  line-height: 0;
  padding: 5px;
}

.source-tab .blackBox svg {
  height: 12px;
  width: 12px;
}

.source-tab .blackBox path {
  fill: var(--theme-textbox-box-shadow);
}

.source-tab .filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.source-tab.pretty .filename {
  padding-inline-start: 8px;
}

.source-tab .close-btn {
  visibility: hidden;
  line-height: 0;
  margin-inline-start: 6px;
}

.source-tab.active .close-btn {
  visibility: visible;
}

.source-tab:hover .close-btn {
  visibility: visible;
}
