.accordion {
  background-color: var(--theme-body-background);
  width: 100%;
}

.accordion ._header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
  padding: 5px;
  transition: all 0.25s ease;
  width: 100%;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.accordion ._header {
  display: flex;
}

.accordion ._header:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.accordion ._header button svg,
.accordion ._header:hover button svg {
  fill: currentColor;
  height: 16px;
}

.accordion ._content {
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
}

.accordion div:last-child ._content {
  border-bottom: none;
}

.accordion ._header .header-buttons {
  display: flex;
  margin-left: auto;
  padding-right: 5px;
}

.accordion .header-buttons .add-button {
  font-size: 180%;
  text-align: center;
  line-height: 16px;
}

.accordion .header-buttons button {
  color: var(--theme-body-color);
  border: none;
  background: none;
  outline: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}

.accordion .header-buttons button::-moz-focus-inner {
  border: none;
}
