.dropdown {
  --width: 150px;
  background: var(--theme-body-background);
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 0 4px 4px 0 var(--search-overlays-semitransparent);
  max-height: 300px;
  position: absolute;
  right: 0;
  top: 23px;
  width: var(--width);
  z-index: 1000;
}

html[dir="rtl"] .dropdown {
  right: calc((var(--width) - 11px) * (-1));
}

.dropdown-block {
  padding: 0px 2px;
  position: relative;
  align-self: center;
}

.dropdown-button {
  cursor: pointer;
  color: var(--theme-content-color3);
  background: none;
  border: none;
  padding: 0;
  font-weight: 100;
  font-size: 14px;
}

.dropdown li {
  transition: all 0.25s ease;
  padding: 2px 10px 10px 5px;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown li:hover {
  background-color: var(--search-overlays-semitransparent);
  cursor: pointer;
}

.dropdown ul {
  list-style: none;
  line-height: 2em;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.dropdown-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  left: 0;
  top: 0;
}
