.managed-tree .tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  white-space: nowrap;
  overflow: auto;
  min-width: 100%;
}

.managed-tree .tree button {
  display: block;
}

.managed-tree .tree .node {
  padding: 2px 3px 2px 3px;
  position: relative;
}

.managed-tree .tree .node.focused {
  color: white;
  background-color: var(--theme-selection-background);
  padding-bottom: 2px;
}

html:not([dir="rtl"]) .managed-tree .tree .node > div {
  margin-left: 10px;
}

html[dir="rtl"] .managed-tree .tree .node > div {
  margin-right: 10px;
}

.managed-tree .tree .node.focused svg {
  fill: white;
}

.managed-tree .tree-node button {
  position: fixed;
}
