.tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  white-space: nowrap;
  overflow: auto;
  min-width: 100%;
}

.tree button {
  display: block;
}

.tree .node {
  padding: 2px 5px;
  position: relative;
  cursor: pointer;
}

.tree .node.focused {
  color: white;
  background-color: var(--theme-selection-background);
}

.theme-dark .tree .node.focused {
  background-color: var(--theme-selection-background-semitransparent);
}

html:not([dir="rtl"]) .tree .node > div {
  margin-left: 10px;
}

html[dir="rtl"] .tree .node > div {
  margin-right: 10px;
}

.tree .node.focused svg {
  fill: white;
}

.tree-node button {
  position: fixed;
}
