.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: z-index 200ms;
  z-index: 100;
}

.modal {
  top: 0;
  width: 500px;
  height: fit-content;
  background-color: var(--theme-codemirror-gutter-background);
  transform: translateY(-250px);
  transition: transform 150ms cubic-bezier(0.07, 0.95, 0, 1);
  box-shadow: 2px 4px 6px var(--popup-shadow-color);
}

.modal.entering,
.modal.exited {
  transform: translateY(-250px);
}

.modal.entered,
.modal.exiting {
  transform: translateY(30px);
}

@media (max-width: 520px) {
  .modal {
    width: 80%;
    left: 10%;
  }
}
