/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: z-index 200ms;
  z-index: 100;
}

.modal {
  width: 80%;
  height: auto;
  overflow-y: auto;
  background-color: var(--theme-toolbar-background);
  transition: transform 150ms cubic-bezier(0.07, 0.95, 0, 1);
  box-shadow: 1px 1px 3px 1px var(--popup-shadow-color);
}

.modal .input-wrapper {
  display: flex;
  justify-content: center;
}

.modal .close-btn {
  padding: 6px;
}

.modal .result-list {
  height: calc(100% - 28px);
  overflow-y: auto;
}

.modal.entering,
.modal.exited {
  transform: translateY(-101%);
}

.modal.entered,
.modal.exiting {
  transform: translateY(5px);
}

/* This rule is active when the screen is not short and narrow */
@media (min-width: 580px) and (min-height: 340px) {
  .modal {
    width: 50%;
  }
}

@media (min-height: 340px) {
  .modal {
    height: auto;
    max-height: 80vh;
  }
  .modal.entered,
  .modal.exiting {
    transform: translateY(30px);
  }
}
