.popover {
  position: fixed;
  z-index: 4;
}

.popover-gap {
  height: 10px;
}

.popover::before,
.popover::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 10px solid transparent;
  left: calc(50% - 10px);
}

.popover::before {
  border-bottom-color: #cccccc;
  top: -10px;
}

.popover::after {
  border-bottom-color: white;
  top: -9px;
}
