.popover {
  position: fixed;
  z-index: 100;
  box-shadow: 1px 2px 4px 1px #f3f3f3;
}

.popover-gap {
  height: 5px;
  padding-top: 5px;
}

.popover::before,
.popover::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 7px solid transparent;
  left: calc(20% - 7px); /* corresponds to calculation in Popover.js */
}

.popover::before {
  border-bottom-color: var(--theme-splitter-color);
  top: -9px;
}

.popover::after {
  border-bottom-color: var(--theme-body-background);
  top: -8px;
}
