.popover {
  position: absolute;
  background: var(--theme-toolbar-background);
  z-index: 4;
  min-width: 200px;
  min-height: 80px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
