.function-signature {
  align-self: center;
}

.function-signature .function-name {
  color: var(--theme-highlight-blue);
}

.function-signature .param {
  color: var(--string-color);
}

.function-signature .paren {
  color: var(--object-color);
}

.function-signature .comma {
  color: var(--object-color);
}
