/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.result-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  width: calc(100% - 1px); /* 1px fixes the hidden right border */
}

.result-list * {
  -moz-user-select: none;
  user-select: none;
}

.result-list li {
  color: var(--theme-body-color);
  padding: 4px 13px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
}

.result-list.big li {
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.result-list li:hover {
  background: var(--theme-tab-toolbar-background);
}

.result-list li.selected {
  border-color: var(--theme-selection-background);
}

.result-list.small li.selected {
  background-color: var(--theme-selection-background);
  color: white;
}

.theme-dark .result-list.small li.selected {
  background-color: var(--theme-body-background);
}

.theme-dark .result-list li:hover {
  background: var(--grey-70);
}

.theme-dark .result-list li.selected {
  background: var(--grey-70);
}

.result-list li .title {
  line-height: 1.5em;
  word-break: break-all;
}

.result-list li.selected .title {
  color: white;
}

.result-list.big li.selected .title {
  color: var(--theme-body-color);
}

.result-list.big li .subtitle {
  word-break: break-all;
  color: var(--theme-body-color-inactive);
}

.result-list.big li .subtitle {
  line-height: 1.5em;
}

.theme-dark .result-list.big li .subtitle {
  color: var(--theme-comment-alt);
}

.search-bar .result-list li.selected .subtitle {
  color: white;
}

.search-bar .result-list {
  border-bottom: 1px solid var(--theme-splitter-color);
}

.theme-dark .result-list {
  background-color: var(--theme-body-background);
}
