.source-icon {
  position: relative;
  background-color: var(--theme-comment);
  mask-size: 100%;
  display: inline-block;
  margin-inline-end: 5px;
}

.source-icon,
.source-icon svg {
  width: 15px;
  height: 15px;
}

.source-icon.prettyPrint {
  mask: url(/images/prettyPrint.svg) no-repeat;
  mask-size: 100%;
  background: var(--theme-highlight-blue);
  fill: var(--theme-textbox-box-shadow);
}

.source-icon.blackBox {
  mask: url(/images/blackBox.svg) no-repeat;
  mask-size: 100%;
  background: var(--theme-highlight-blue);
}

.source-icon.react {
  mask-size: 100%;
  background: var(--theme-highlight-bluegrey);
}

.source-icon.javascript,
.source-icon.react {
  top: 2px;
}
