.arrow,
.folder,
.domain,
.file,
.worker,
.refresh,
.shortcut,
.add-button {
  fill: var(--theme-splitter-color);
}

.worker,
.folder {
  position: relative;
  top: 2px;
}

.domain,
.file,
.worker,
.refresh,
.add-button {
  position: relative;
  top: 1px;
}

.domain svg,
.folder svg,
.worker svg,
.refresh svg,
.shortcut svg,
.add-button svg {
  width: 15px;
}

.file svg {
  width: 13px;
}

.file svg,
.domain svg,
.folder svg,
.refresh svg,
.shortcut svg,
.worker svg {
  margin-inline-end: 5px;
}

img.arrow {
  mask: url(/images/arrow.svg);
  margin-top: 3px;
  width: 9px;
  height: 9px;
  padding-top: 9px;
  background: var(--theme-splitter-color);
  mask-size: 100%;
  display: inline-block;
  margin-bottom: 1px;
  transform: rotate(-90deg);
  transition: transform 0.18s ease;
}

html:not([dir="rtl"]) .arrow svg {
  margin-right: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg {
  margin-left: 5px;
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html .arrow.expanded svg {
  transform: rotate(0deg);
}

.domain.debuggee {
  fill: lightgreen;
}

.arrow.hidden {
  visibility: hidden;
}

.webpack svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.theme-dark .webpack {
  opacity: 0.5;
}
