.arrow,
.folder,
.domain,
.file,
.worker,
.refresh,
.add-button {
  fill: var(--theme-splitter-color);
}

.worker,
.folder {
  position: relative;
  top: 2px;
}

.domain,
.file,
.worker,
.refresh,
.add-button {
  position: relative;
  top: 1px;
}

.domain svg,
.folder svg,
.worker svg,
.refresh svg,
.add-button svg {
  width: 15px;
}

.file svg {
  width: 13px;
}

.file svg,
.domain svg,
.folder svg,
.refresh svg,
.worker svg {
  margin-inline-end: 5px;
}

.arrow svg {
  fill: var(--theme-splitter-color);
  margin-top: 3px;
  transition: transform 0.25s ease;
  width: 10px;
}

html:not([dir="rtl"]) .arrow svg {
  margin-right: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg {
  margin-left: 5px;
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html .arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}

.webpack svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: bottom;
}

.theme-dark .webpack {
  opacity: 0.5;
}