.arrow,
.folder,
.domain,
.file,
.worker,
.refresh,
.shortcut,
.add-button {
  background-color: var(--theme-splitter-color);
}

.arrow {
  mask: url("/dbg-assets/arrow.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.folder {
  mask: url("/dbg-assets/folder.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.domain {
  mask: url("/dbg-assets/domain.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.file {
  mask: url("/dbg-assets/file.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.worker {
  mask: url("/dbg-assets/worker.svg") no-repeat;
  width: 16px;
  height: 16px;
}

.worker,
.folder {
  position: relative;
  top: 2px;
}

.domain,
.file,
.worker,
.refresh,
.add-button {
  position: relative;
  top: 1px;
}

img.domain,
img.folder,
img.worker,
img.refresh,
img.shortcut,
.addimg-button {
  width: 15px;
}

img.file {
  width: 13px;
}

img.file,
img.domain,
img.folder,
img.refresh,
img.shortcut,
img.worker {
  margin-inline-end: 5px;
}

img.arrow {
  fill: var(--theme-splitter-color);
  margin-top: 3px;
  transition: transform 0.25s ease;
  width: 10px;
}

html:not([dir="rtl"]) img.arrow {
  margin-right: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] img.arrow {
  margin-left: 5px;
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html img.arrow.expanded {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}

img.webpack {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.theme-dark .webpack {
  opacity: 0.5;
}
