/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.arrow,
.worker,
.refresh,
.shortcut,
.add-button {
  fill: var(--theme-splitter-color);
}

.file,
.folder,
.domain {
  background-color: var(--theme-splitter-color);
}

.worker,
.file,
.folder {
  position: relative;
  top: 2px;
}

.domain,
.worker,
.refresh,
.add-button {
  position: relative;
  top: 1px;
}

.worker svg,
.refresh svg,
.shortcut svg,
.add-button svg {
  width: 15px;
}

img.domain,
img.folder {
  width: 15px;
  height: 15px;
}

img.domain {
  mask: url(/images/domain.svg) no-repeat;
}

img.folder {
  mask: url(/images/folder.svg) no-repeat;
}

img.file {
  mask: url(/images/file.svg) no-repeat;
  width: 13px;
  height: 13px;
}

img.domain,
img.folder,
img.file {
  mask-size: 100%;
  margin-inline-end: 5px;
  display: inline-block;
}

.refresh svg,
.shortcut svg,
.worker svg {
  margin-inline-end: 5px;
}

img.arrow {
  mask: url(/images/arrow.svg);
  margin-inline-end: 5px;
  margin-top: 3px;
  width: 9px;
  height: 9px;
  padding-top: 9px;
  background: var(--theme-splitter-color);
  mask-size: 100%;
  display: inline-block;
  margin-bottom: 1px;
  transform: rotate(-90deg);
  transition: transform 0.18s ease;
}

html[dir="ltr"] img.arrow {
  transform: rotate(-90deg);
}

html[dir="rtl"] img.arrow {
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html .arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}

.webpack svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.theme-dark .webpack {
  opacity: 0.5;
}

.function svg {
  height: 10px;
  width: 15px;
}

.function path {
  fill: var(--theme-body-color);
}

.angular svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.theme-dark .angular {
  opacity: 0.5;
}
