.outline-list {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}

.outline-list__element {
  color: blue;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.outline-list__element:hover {
  background: var(--theme-toolbar-background-hover);
}
