/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.outline {
  overflow-y: auto;
}

.outline .outline-pane-info {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  user-select: none;
  font-size: 12px;
}

.outline-list {
  list-style-type: none;
  flex: 1 0 100%;
  padding: 10px 0px;
  margin: 0;
}

.outline-list__class-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outline-list h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 10px 0 10px 10px;
  color: var(--theme-body-color);
}

.outline-list__element {
  padding: 3px 10px 3px 10px;
  cursor: default;
  white-space: nowrap;
}

.outline-list__element:hover {
  background: var(--theme-toolbar-background-hover);
}
