/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.outline {
  overflow-y: hidden;
}

.outline > div {
  width: 100%;
  position: relative;
}

.outline-pane-info {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  user-select: none;
  font-size: 12px;
  overflow: hidden;
}

.outline-list {
  list-style-type: none;
  padding: 4px 0;
  margin: 0;
  font-family: var(--monospace-font-family);
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 25px;
}

.outline-list__class-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outline-list__class-list .function-signature .function-name {
  color: var(--theme-highlight-green);
}

.outline-list .function-signature .paren {
  color: inherit;
}

.outline-list h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 10px 0 10px 10px;
  color: var(--blue-55);
}

.outline-list h2:hover {
  background: var(--theme-toolbar-background-hover);
}

.theme-dark .outline-list h2 {
  color: var(--theme-highlight-blue);
}

.outline-list h2 .keyword {
  color: var(--theme-highlight-red);
}

.outline-list__element {
  padding: 3px 10px 3px 10px;
  cursor: default;
  white-space: nowrap;
}

.outline-list__element-icon {
  padding-right: 0.4rem;
  padding-left: 1rem;
}

.outline-list__element:hover {
  background: var(--theme-toolbar-background-hover);
}

.outline-footer {
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
  height: 25px;
  box-sizing: border-box;
  display: flex;
}

.theme-dark .outline-footer button {
  color: var(--theme-body-color);
}

.outline-footer button.active {
  background: var(--theme-highlight-blue);
  color: #ffffff;
}
