.sources-panel {
  background-color: var(--theme-sidebar-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 11px;
}

.sources-list .managed-tree {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sources-list .managed-tree .tree .node {
  padding: 0px 0px 0px 3px;
}

.sources-list .tree img.arrow {
  margin-right: 5px;
}

.sources-list .tree .focused img.arrow {
  background-color: white;
}

.sources-list .tree img.arrow.expanded {
  transform: rotate(0deg);
}

.theme-dark .sources-list .tree .node:not(.focused) img.arrow {
  background: var(--theme-content-color3);
}

.theme-dark .source-list .tree .node.focused {
  background-color: var(--theme-tab-toolbar-background);
}

.sources-list .tree .focused .label {
  background-color: var(--theme-selection-background);
}

.sources-list .tree .label {
  padding: 3px 0px 3px 0px;
  display: inline-block;
}

.sources-list .tree .node .no-arrow {
  width: 10px;
  display: inline-block;
}

.no-sources-message {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  font-size: 12px;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.sources-panel .outline {
  display: flex;
  flex: 1;
}

.source-outline-tabs {
  width: 100%;
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  display: flex;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.source-outline-tabs .tab {
  flex: 1;
  justify-content: center;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  display: inline-flex;
  position: relative;
  transition: all 0.25s ease;
  overflow: hidden;
  padding: 8px 8px 7px 8px;
  margin-bottom: 0px;
  margin-top: -1px;
  cursor: default;
}

.source-outline-tabs .tab:first-child {
  border-left: 0;
}

.source-outline-tabs .tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-outline-tabs .tab {
  color: var(--theme-body-color);
  background-color: var(--theme-toolbar-background);
  border-color: var(--theme-splitter-color);
}

.source-outline-tabs .tab.active {
  background-color: var(--theme-body-background);
  border-bottom-color: transparent;
}

.source-outline-tabs .tab.active path,
.source-outline-tabs .tab:hover path {
  fill: var(--theme-body-color);
}

.sources-list .managed-tree .tree .node .blackBox svg {
  width: 13px;
  position: relative;
  top: 2px;
  margin-inline-end: 5px;
}
.sources-list .managed-tree .tree .node .blackBox path {
  fill: var(--theme-textbox-box-shadow);
}

.sources-list .managed-tree .tree .node.focused .blackBox path {
  fill: white;
}

.theme-dark .sources-list .managed-tree .tree .node:not(.focused) .blackBox svg {
  fill: var(--theme-content-color3);
}

.theme-dark .sources-list .managed-tree .tree .node .blackBox circle {
  fill: var(--theme-body-color);
}

.theme-dark .sources-list .managed-tree .tree .node.focused .blackBox circle {
  fill: white;
}