/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.sources-panel {
  background-color: var(--theme-sidebar-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-clear-root {
  padding: 4px 3px 4px 3px;
  width: 100%;
  text-align: start;
  white-space: nowrap;
  color: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.sources-clear-root i {
  margin-right: 5px;
  position: relative;
}

.sources-clear-root svg {
  width: 13px;
  height: 13px;
}

.theme-dark .sources-clear-root svg {
  fill: var(--theme-body-color);
}

.sources-clear-root .home {
  opacity: 0.5;
}

.sources-clear-root .breadcrumb svg {
  width: 5px;
  top: 2px;
  position: absolute;
  margin-right: 5px;
}

.sources-clear-root-label {
  margin-left: 5px;
}

.sources-pane {
  display: flex;
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  padding: 4px 0;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sources-list .managed-tree {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sources-list .managed-tree .tree .node {
  padding: 0 10px 0 3px;
  width: 100%;
}

.sources-list .tree img.arrow {
  margin-right: 5px;
}

.sources-list .tree .focused img.arrow {
  background-color: white;
}

.sources-list .tree .label .suffix {
  font-style: italic;
  font-size: 0.9em;
  color: var(--theme-comment);
}

.sources-list .tree .focused .label .suffix {
  color: inherit;
}

.sources-list .tree img.arrow.expanded {
  transform: rotate(0deg);
}

.theme-dark .source-list .tree .node.focused {
  background-color: var(--theme-tab-toolbar-background);
}

.sources-list .tree .focused .label {
  background-color: var(--theme-selection-background);
}

.sources-list .tree .label {
  padding: 3px 0px 3px 0px;
  display: inline-block;
}

.sources-list .tree .node .no-arrow {
  width: 10px;
  display: inline-block;
}

.no-sources-message {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  font-size: 12px;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.sources-panel .outline {
  display: flex;
  height: 100%;
}

.tree-indent {
  border-inline-start: 0 none;
}

.source-outline-tabs {
  width: 100%;
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  display: flex;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  height: 30px;
  margin: 0;
  padding: 0;
}

.source-outline-tabs .tab {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid transparent;
  border-color: var(--theme-splitter-color);
  color: var(--theme-body-color);
  cursor: default;
  display: inline-flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -1px;
  overflow: hidden;
  padding: 8px 8px 7px 8px;
  position: relative;
  transition: all 0.25s ease;
}

.source-outline-tabs .tab:first-child {
  border-inline-end: 1px solid var(--theme-splitter-color);
}

.source-outline-tabs .tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-outline-tabs .tab.active {
  background-color: var(--theme-body-background);
  border-bottom-color: transparent;
}

.source-outline-tabs .tab.active path,
.source-outline-tabs .tab:hover path {
  fill: var(--theme-body-color);
}

.source-outline-panel {
  flex: 1;
  overflow: auto;
}

.sources-list .managed-tree .tree .node img.blackBox {
  mask: url(/images/blackBox.svg) no-repeat;
  mask-size: 100%;
  background-color: var(--theme-highlight-blue);
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-inline-end: 6px;
  margin-inline-start: 1px;
  margin-top: 2px;
}

.sources-list .managed-tree .tree .node.focused img {
  background-color: white;
}

.theme-dark .sources-list .managed-tree .tree .node:not(.focused) img.blackBox {
  background-color: var(--theme-comment);
}

.theme-dark .sources-list .managed-tree .tree .node img.blackBox {
  background-color: var(--theme-body-color);
}

.theme-dark .sources-list .managed-tree .tree .node.focused img.blackBox {
  background-color: white;
}

.tree:not(.object-inspector)
  .tree-node[data-expandable="false"]
  .tree-indent:last-of-type {
  margin-inline-end: 4px;
}

/*
  Custom root styles
*/
.sources-pane.sources-list-custom-root {
  display: block;
  position: relative;
}

.sources-list-custom-root .sources-pane {
  display: block;
}

.sources-list-custom-root .sources-list,
.sources-list-custom-root .no-sources-message {
  position: absolute;
  top: 26px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Removes start margin when a custom root is used */
.sources-list-custom-root
  .tree
  > .tree-node[data-expandable="false"][aria-level="0"] {
  padding-inline-start: 4px;
}
