.sources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-header {
  height: 30px;
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  font-size: 1.2em;
  display: flex;
  align-items: baseline;
  -moz-user-select: none;
  user-select: none;
  justify-content: flex-end;
}

.theme-dark .sources-header {
  background-color: var(--theme-tab-toolbar-background);
}

.sources-header {
  padding-inline-start: 10px;
}

.sources-header-info {
  font-size: 12px;
  color: var(--theme-comment-alt);
  font-weight: lighter;
  white-space: nowrap;
  padding-inline-end: 10px;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sources-list .managed-tree {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.theme-dark .sources-list .tree .node:not(.focused) svg {
  fill: var(--theme-content-color3);
}

.theme-dark .source-list .tree .node.focused {
  background-color: var(--theme-tab-toolbar-background);
}

.no-sources-message {
  font-size: 12px;
  color: var(--theme-comment-alt);
  font-weight: lighter;
  padding-top: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sources-panel .source-footer {
  position: relative;
}

.sources-panel .outline {
  display: flex;
  flex: 1;
}

.sources-panel .outline.hidden {
  display: none;
}

.hidden {
  display: none;
}

.source-footer {
  width: 100%;
}

.source-footer .tab {
  flex: 1;
  justify-content: center;
  border: 1px solid transparent;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: inline-flex;
  position: relative;
  transition: all 0.25s ease;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: -1px;
}

.source-footer .tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-footer .tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-toolbar-background);
  border-color: var(--theme-splitter-color);
}

.source-footer .tab.active path,
.source-footer .tab:hover path {
  fill: var(--theme-body-color);
}
