.landing-page {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.landing-page .sidebar {
  display: flex;
  background-color: var(--theme-tab-toolbar-background);
  width: 200px;
  height: 100%;
  flex-direction: column;
}

.landing-page .sidebar h1 {
  color: var(--theme-body-color);
  font-size: 24px;
  margin: 0;
  line-height: 30px;
  font-weight: normal;
  padding: 40px 20px;
}

.landing-page .sidebar ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
}

.landing-page .sidebar li {
  padding: 5px 20px;
}

.landing-page .sidebar li.selected {
  background: var(--theme-search-overlays-semitransparent);
  transition: all 0.25s ease;
}

.landing-page .sidebar li:hover {
  background: var(--theme-selection-background);
  cursor: pointer;
}

.landing-page .sidebar li a {
  color: var(--theme-body-color);
}

.landing-page .sidebar li:hover a {
  color: var(--theme-selection-color);
}

.landing-page .panel {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.landing-page .panel .title {
  margin: 20px 40px;
  width: calc(100% - 80px);
  font-size: 16px;
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 54px;
}

.landing-page .panel h2 {
  color: var(--theme-body-color);
  font-weight: normal;
}

.landing-page .panel .center {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.landing-page .panel .center .center-message {
  margin: 40px;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
}

.landing-page .center a {
  color: var(--theme-highlight-bluegrey);
  text-decoration: none;
}

.landing-page .tab-group {
  position: absolute;
  margin: 40px;
  height: calc(100% - 250px);
  width: calc(100% - 80px);
  overflow: auto;
}

.landing-page .tab-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.landing-page .tab {
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 10px;
  font-family: sans-serif;
}

.landing-page .tab:hover {
  background-color: var(--theme-toolbar-background);
  cursor: pointer;
}

.landing-page .tab-title {
  line-height: 25px;
  font-size: 16px;
  color: var(--theme-highlight-bluegrey);
}

.landing-page .tab-url {
  color: var(--theme-comment);
}

.landing-page .panel .center .footer-note {
  flex: 1;
  padding: 50px;
  font-size: 14px;
  color: var(--theme-comment);
  position: absolute;
  bottom: 0;
}
