.popover .preview-popup {
  background: var(--theme-body-background);
  width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  padding: 10px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
}

.theme-dark .popover .preview-popup {
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
}

.popover .preview-popup .header {
  width: 100%;
  line-height: 20px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
}

.popover .preview-popup .header .link {
  align-self: flex-end;
  color: var(--theme-highlight-blue);
  text-decoration: underline;
}

.preview-selection:hover {
  cursor: default;
}

.preview-selection,
.debug-expression.preview-selection {
  background-color: var(--theme-highlight-yellow);
}

.theme-dark .preview-selection,
.theme-dark .debug-expression.preview-selection {
  background-color: #743884;
}

.theme-dark .cm-s-mozilla .preview-selection,
.theme-dark .cm-s-mozilla .debug-expression.preview-selection {
  color: #e7ebee;
}

.popover .preview-popup .function-signature {
  padding-top: 10px;
}

.theme-dark .popover .preview-popup {
  border-color: var(--theme-body-color);
}

.theme-dark .popover .preview-popup .arrow svg {
  fill: var(--theme-content-color3);
}

.tooltip {
  position: fixed;
  z-index: 100;
}

.tooltip .preview-popup {
  background: var(--theme-toolbar-background);
  max-width: inherit;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 1px 2px 4px 1px var(--theme-toolbar-background-alt);
  padding: 5px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
}

.theme-dark .tooltip .preview-popup {
  border-color: var(--theme-body-color);
}

.tooltip .gap {
  height: 4px;
  padding-top: 4px;
}

.add-to-expression-bar {
  border: 1px solid var(--theme-splitter-color);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  background: var(--theme-toolbar-background);
  color: var(--theme-comment-alt);
  padding: 0 4px;
}

.add-to-expression-bar .prompt {
  width: 1em;
}

.add-to-expression-bar .expression-to-save-label {
  width: calc(100% - 4em);
}

.add-to-expression-bar .expression-to-save-button {
  font-size: 14px;
  color: var(--theme-content-color3);
}
