.accordion {
  background-color: var(--theme-body-background);
  width: 100%;
}

.accordion ._header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  transition: all 0.25s ease;
  width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.accordion ._header:hover {
  background-color: var(--theme-search-overlays-semitransparent);
}

.accordion ._header:hover svg {
  fill: var(--theme-comment-alt);
}

.accordion ._content {
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
}
