/* vim:set ts=2 sw=2 sts=2 et: */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root.theme-light,
:root .theme-light {
  --theme-search-overlays-semitransparent: rgba(221, 225, 228, 0.66);
  --theme-faded-tab-color: #7e7e7e;
}

:root.theme-dark,
:root .theme-dark {
  --theme-faded-tab-color: #6e7d8c;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mount {
  display: flex;
  height: 100%;
}

.debugger {
  display: flex;
  flex: 1;
  height: 100%;
}

.editor-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
  overflow: hidden;
}

.editor-container {
  display: flex;
  flex: 1;
}

.subsettings:hover {
  cursor: pointer;
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  background-color: var(--theme-search-overlays-semitransparent);
}

.search-container .autocomplete {
  flex: 1;
}

.search-container .close-button {
  width: 16px;
  margin-top: 25px;
  margin-right: 20px;
}

.welcomebox {
  width: calc(100% - 1px);

  /* Offsetting it by 30px for the sources-header area */
  height: calc(100% - 30px);
  position: absolute;
  top: 30px;
  left: 0;
  padding: 50px 0;
  text-align: center;
  font-size: 1.25em;
  color: var(--theme-comment-alt);
  background-color: var(--theme-tab-toolbar-background);
  font-weight: lighter;
  z-index: 100;
}
