/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

button:hover,
button:focus {
  background-color: var(--theme-toolbar-background-hover);
}

.debugger {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: auto 1fr auto auto;
}

.editor-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
  height: calc(100% - 1px);
  overflow: hidden;
}

.editor-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  background-color: var(--search-overlays-semitransparent);
}

.search-container .close-button {
  width: 16px;
  margin-top: 25px;
  margin-right: 20px;
}

/* Utils */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.min-width-0 {
  min-width: 0;
}

@media (max-width: 800px) {
  .rszr-right {
    display: none;
  }

  .rszr-bottom {
    display: block;
    grid-column: -1 / 1;
    grid-row: 3 / -1;
    transform: translateY(calc(-1 * var(--resizer-width)));
  }

  .rszr-bottom::before {
    content: "";
    border: var(--resizer-width) solid transparent;
    cursor: row-resize;
    display: block;
  }

  .toolbar {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    border-top: var(--border);
  }

  main {
    border-inline-end-width: 0;
  }

  .debugging {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .watch {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .breakpoints {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-inline-end: var(--border);
  }

  .callstack {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    border-block-end-width: 0;
    border-inline-end: var(--border);
  }

  .scopes {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .rszr-debugging {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
  }
}
