* {
  box-sizing: border-box;
}

.debugger {
  display: flex;
  flex: 1;
  height: 100%;
}

.editor-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
  height: calc(100% - 1px);
  overflow: hidden;
}

.editor-container {
  width: 100%;
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  background-color: var(--search-overlays-semitransparent);
}

.search-container .close-button {
  width: 16px;
  margin-top: 25px;
  margin-right: 20px;
}

/* Utils */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
