.input-expression {
  width: 100%;
  padding: 5px;
  margin: 0px;
  border: none;
  cursor: hand;
}

.expression-container {
  border: 1px;
  padding: 5px 2px 5px 5px;
  margin: 1px;
  width: 100%;
  color: var(--theme-body-color) !important;
  background-color: var(--theme-tab-toolbar-background);
}

.expression-container:hover {
  background-color: var(--theme-selection-background);
  color: var(--theme-body-background) !important;
}

.expression-output-container .close-btn {
  width: 6px;
  height: 6px;
  float: right;
  margin-right: 6px;
  display: block;
  cursor: pointer;
}

.expression-input {
  cursor: pointer;
  max-width: 50%;
}

.expression-value {
  overflow-x: scroll;
  color: var(--theme-content-color2);
  max-width: 50% !important;
}

.expression-error {
  color: var(--theme-highlight-red);
}
