.frames ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frames ul li {
  cursor: pointer;
  padding: 7px 10px 7px 21px;
  clear: both;
  overflow: hidden;
}

/* Style the focused call frame like so:
.frames ul li:focus {
  border: 3px solid red;
}
*/

.frames ul li * {
  -moz-user-select: none;
  user-select: none;
}

.frames ul li:nth-of-type(2n) {
  background-color: var(--theme-tab-toolbar-background);
}

.frames .location {
  float: right;
  color: var(--theme-comment);
  font-weight: lighter;
}

.frames .title {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 1em;
}

.frames ul li.selected,
.frames ul li.selected .location {
  background-color: var(--theme-selection-background);
  color: white;
}

.show-more {
  cursor: pointer;
  text-align: center;
  padding: 8px 0px;
  border-top: 1px solid var(--theme-splitter-color);
  background-color: var(--theme-tab-toolbar-background);
}

.show-more:hover {
  background-color: var(--theme-search-overlays-semitransparent);
}
