.arrow svg {
  fill: var(--theme-splitter-color);
  margin-top: 3px;
  transition: transform 0.25s ease;
  width: 10px;
}

html:not([dir="rtl"]) .arrow svg {
  margin-right: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg {
  margin-left: 5px;
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html .arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}

.object-node .unavailable {
  color: var(--theme-body-color-inactive);
}
