.result-item .title .highlight {
  font-weight: bold;
  background-color: transparent;
}

.selected .highlight {
  color:white;
}

.result-item .subtitle .highlight {
  color: var(--grey-90);
  font-weight: 500;
  background-color: transparent;
}

.theme-dark .result-item .title .highlight,
.theme-dark .result-item .subtitle .highlight {
  color: white;
}

.loading-indicator {
  padding: 5px 0 5px 0;
  text-align: center;
}
