.result-item .title .fuzzy-match {
  font-weight: bold;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.15);
}

.result-item .subtitle .fuzzy-match {
  color: var(--grey-90);
  text-shadow: 2px 1px 3px rgba(0,0,0,0.15);

}

.theme-dark .result-item .title .fuzzy-match,
.theme-dark .result-item .subtitle .fuzzy-match {
  color: white;
}
