.shortcuts-content {
  padding: 15px;
  -moz-column-width: 250px;
  -webkit-column-width: 250px;
  column-width: 250px;
}

.shortcuts-content h2 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: var(--theme-content-color1);
}

.mac .keystroke {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: var(--theme-graphs-grey);
  background-color: var(--theme-selection-color);
  width: 21px;
  height: 17px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
}

.shortcuts-section {
  display: inline-block;
  margin: 5px;
  margin-bottom: 15px;
  width: 250px;
}

.shortcuts-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  width: calc(100% - 1px); /* 1px fixes the hidden right border */
}

.shortcuts-modal {
  display: table;
  width: 45%;
}

.shortcuts-list li {
  font-size: 12px;
  color: var(--theme-body-color);
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
}
