.sources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-header {
  height: 30px;
  border-bottom: 1px solid var(--theme-splitter-color);
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  font-size: 1.2em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  -moz-user-select: none;
  user-select: none;
}

.sources-header {
  padding-inline-start: 10px;
}

.sources-header-info {
  font-size: 12px;
  color: var(--theme-comment-alt);
  font-weight: lighter;
  white-space: nowrap;
  padding-inline-end: 10px;
  float: end;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  flex: 1;
  white-space: nowrap;
  overflow: auto;
}

.tree button {
  display: block;
}

.tree .node {
  padding: 2px 5px;
  position: relative;
  cursor: pointer;
}

.tree-node:hover {
  background: var(--theme-tab-toolbar-background);
}

.tree .node.focused {
  color: white;
  background-color: var(--theme-selection-background);
}

.tree .node > div {
  margin-left: 10px;
}

.tree .node.focused svg {
  fill: white;
}

.sources-list .tree-node button {
  position: fixed;
}
