.sources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-header {
  height: 30px;
  border-bottom: 1px solid var(--theme-splitter-color);
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  font-size: 1.2em;
  display: flex;
  align-items: baseline;
  -moz-user-select: none;
  user-select: none;
  justify-content: flex-end;
}

.sources-header {
  padding-inline-start: 10px;
}

.sources-header-info {
  font-size: 12px;
  color: var(--theme-comment-alt);
  font-weight: lighter;
  white-space: nowrap;
  padding-inline-end: 10px;
  cursor: pointer;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}
