:root.theme-light, :root .theme-light {
  --search-overlays-semitransparent: rgba(221, 225, 228, 0.66);
}

:root.theme-dark, :root .theme-dark {
  --search-overlays-semitransparent: rgba(42, 46, 56, 0.66);
}
