.welcomebox {
  width: calc(100% - 1px);

  /* Offsetting it by 30px for the sources-header area */
  height: calc(100% - 30px);
  position: absolute;
  top: 30px;
  left: 0;
  padding: 50px 0 0 0;
  text-align: center;
  font-size: 1.25em;
  color: var(--theme-comment-alt);
  background-color: var(--theme-tab-toolbar-background);
  font-weight: lighter;
  z-index: 100;
}

.alignlabel {
  display: inline-block;
  text-align: left;
}

.welcomebox .toggle-button-end {
  position: absolute;
  top: auto;
  bottom: 0;
  offset-inline-end: 0;
  offset-inline-start: auto;
}

html .welcomebox .toggle-button-end.collapsed {
  bottom: 1px;
}
