
.search-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: calc(100% - 1px);
  height: calc(100% - 31px);
  display: flex;
  z-index: 200;
  background-color: var(--theme-body-background);
}

.searchinput-container {
  display: flex;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.theme-dark .result-list li .subtitle {
  color: var(--theme-comment-alt);
}
