.search-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: calc(100% - 1px);
  height: calc(100% - 31px);
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: var(--theme-body-background);
  overflow-y: hidden;
}
