.project-text-search .result {
  display: flex;
  margin-left: 20px;
}

.project-text-search .file-result {
  font-weight: bold;
  margin-top: 20px;
  line-height: 20px;
}

.project-text-search .line-match {
  font-family: monospace;
  display: "flex";
  grow: 1;
}

.project-text-search .result .line-number {
  padding-right: 5px;
}
