.project-text-search {
  flex-grow: 1;
  font-family: Menlo, monospace;
}

.project-text-search .result {
  display: flex;
  cursor: default;
  margin-bottom: 1px;
  padding: 4px 0 4px 30px;
  font-size: 10px;
}

.project-text-search .matches-summary {
  margin-left: 2px;
}

.project-text-search .result.focused {
  background-color: #eeeeee;
}

.project-text-search .result .query-match {
  background-color: var(--theme-selection-background);
  color: white;
  padding: 1px 4px;
  margin: 0 2px 0 2px;
  border-radius: 2px;
}

.project-text-search .result.focused .line-number {
  font-weight: bolder;
}

.project-text-search .result .line-number {
  margin-right: 1em;
  width: 2em;
}

.project-text-search .file-result {
  font-weight: bold;
  line-height: 20px;
  cursor: default;
  margin: 2px 20px 2px 0;
  padding: 3px 0 3px 5px;
  font-size: 12px;
}

.project-text-search .file-result .arrow {
  margin: 2px 0 2px 0;
}

.project-text-search .file-result.focused {
  background-color: #eeeeee;
}

.project-text-search .line-match {
  display: "flex";
  grow: 1;
}

.project-text-search .search-field {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}
