/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.project-text-search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.project-text-search .result {
  display: flex;
  cursor: default;
  padding: 4px 0 4px 30px;
  line-height: 16px;
  font-size: 10px;
}

.project-text-search .matches-summary {
  margin-left: 5px;
}

.project-text-search .result {
  font-family: Menlo, monospace;
}

.project-text-search .result.focused {
  background-color: var(--search-overlays-semitransparent);
}

.project-text-search .result .query-match {
  background-color: var(--theme-selection-background);
  color: white;
  padding: 1px 4px;
  margin: 0 2px 0 2px;
  border-radius: 2px;
}

.project-text-search .result.focused .line-number {
  font-weight: bolder;
}

.project-text-search .result .line-number {
  margin-right: 1em;
  width: 2em;
  margin-left: 0.8em;
}

.project-text-search .no-result-msg {
  color: var(--theme-body-color-inactive);
  font-size: 24px;
  padding: 4px;
  word-break: break-all;
}

.project-text-search .file-result {
  font-weight: bold;
  line-height: 20px;
  cursor: default;
  padding: 2px 0 2px 5px;
  font-size: 12px;
}

.project-text-search .file-result .arrow {
  margin: 2px 0 2px 0;
}

.project-text-search .file-result.focused {
  background-color: var(--search-overlays-semitransparent);
}

.project-text-search .line-match {
  display: "flex";
  grow: 1;
}

.project-text-search .search-field {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.project-text-search .managed-tree {
  overflow-y: auto;
  height: calc(100% - 81px);
}

.project-text-search .managed-tree .tree {
  height: 100%;
}
