.accordion {
  background-color: var(--theme-body-background);
  width: 100%;
}

.accordion ._header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  transition: all 0.25s ease;
  width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.accordion ._header:hover {
  background-color: var(--theme-selection-color);
}

/* TODO: change this class name */
.accordion .isvg svg {
  fill: var(--theme-splitter-color);
  float: left;
  margin-right: 3px;
  margin-top: 3px;
  transform: rotate(-90deg);
  transition: all 0.25s ease;
  width: 10px;
}

.accordion ._header:hover svg {
  fill: var(--theme-gray-darker);
}

.accordion ._content {
  border-bottom: 1px solid #d0d0d0;
}
