/* vim:set ts=2 sw=2 sts=2 et: */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root .theme-light {
  --theme-gray: #dde1e4;
  --theme-gray-darker: #ccd1d5;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "SF UI Text", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mount {
  display: flex;
  height: 100%;
}

.debugger {
  display: flex;
  flex: 1;
}

.center-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: #fcfcfc;
}

.editor-container {
  display: flex;
  flex: 1;
}

.subsettings:hover {
  cursor: pointer;
}

.source-footer {
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100px;
  opacity: 0.9;
}

.source-footer .command-bar {
  float: right;
}

.command-bar > span {
  cursor: pointer;
  margin-right: 0.7em;
  width: 1em;
  height: 1.1em;
  display: inline-block;
  text-align: center;
  transition: opacity 200ms;
}

.welcomebox {
  margin: 50px auto;
  padding: 20px;
  font-size: 1.25em;
  color: var(--theme-gray-darker);
  font-weight: lighter;
  text-align: center;
  width: 100%;
}

.search-container {
  display: flex;
}
