/* vim:set ts=2 sw=2 sts=2 et: */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mount {
  display: flex;
  height: 100%;
}

.debugger {
  display: flex;
  flex: 1;
}

.center-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
}

.editor-container {
  display: flex;
  flex: 1;
}

.subsettings:hover {
  cursor: pointer;
}

.source-footer {
  background: var(--theme-body-background);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100px;
  opacity: 0.9;
}

.source-footer .command-bar {
  float: right;
}

.command-bar > span {
  cursor: pointer;
  margin-right: 0.7em;
  width: 1em;
  height: 1.1em;
  display: inline-block;
  text-align: center;
  transition: opacity 200ms;
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  background-color: var(--theme-search-overlays-semitransparent);
}

.search-container .autocomplete {
  flex: 1;
}

.search-container .close-button {
  width: 16px;
  margin-top: 25px;
  margin-right: 20px;
}
