
.autocomplete {
  width: 100%;
  padding: 20px;
}

.autocomplete ul {
  list-style: none;
  width: 100%;
  max-height: calc(100% - 32px);
  margin: 0px;
  padding: 0px;
  overflow: auto;
  border-left: 2px solid #dde1e4;
  border-right: 2px solid #dde1e4;
}

.autocomplete ul:not(:empty) {
  border-bottom: 2px solid #dde1e4;
}

.autocomplete li:nth-child(1) {
  border-top: none;
}

.autocomplete li {
  border-top: 2px solid #dde1e4;
  padding: 10px;
}

.autocomplete li:hover {
  background: #efefef;
  cursor: pointer;
}

.autocomplete li.selected {
  background: var(--theme-selection-background);
  color: white;
}

.autocomplete li.selected .subtitle {
  color: white;
}

.autocomplete li .title {
  font-size: 0.8em;
  line-height: 1.5em;
}

.autocomplete li .subtitle {
  font-size: 0.7em;
  line-height: 1.5em;
  color: grey;
}

.autocomplete input {
  width: 100%;
  border: 2px solid #dde1e4;
  outline: none;
  line-height: 2.5em;
  height: 2.5em;
  padding-left: 25px;
  font-size: 0.8em;
}

.autocomplete svg {
  width: 16px;
  position: absolute;
  top: calc(2.5em - 12px);
  left: 27px;
}

.autocomplete.focused path,
.autocomplete.focused ellipse {
  stroke: var(--theme-highlight-blue);
}

.autocomplete path,
.autocomplete ellipse {
  stroke: var(--theme-gray);
}
