
.autocomplete {
  width: 100%;
  padding: 20px;
}

.autocomplete .results * {
  -moz-user-select: none;
  user-select: none;
}

.autocomplete ul {
  list-style: none;
  width: 100%;
  max-height: calc(100% - 32px);
  margin: 0px;
  padding: 0px;
  overflow: auto;
  border-left: 2px solid var(--theme-splitter-color);
  border-right: 2px solid var(--theme-splitter-color);
}

.autocomplete ul:not(:empty) {
  border-bottom: 2px solid var(--theme-splitter-color);
}

.autocomplete li:nth-child(1) {
  border-top: none;
}

.autocomplete li {
  border-top: 2px solid var(--theme-splitter-color);
  background-color: var(--theme-tab-toolbar-background);
  padding: 10px;
}

.autocomplete li:hover {
  background: var(--theme-tab-toolbar-background);
  cursor: pointer;
}

.autocomplete li.selected {
  background: var(--theme-selection-background);
  color: white;
}

.autocomplete li.selected .subtitle {
  color: white;
}

.autocomplete li .title {
  line-height: 1.5em;
}

.autocomplete li .subtitle {
  line-height: 1.5em;
  color: grey;
}

.autocomplete input {
  width: 100%;
  border: 2px solid var(--theme-splitter-color);
  outline: none;
  line-height: 2.5em;
  height: 2.5em;
  padding-left: 25px;
}

.autocomplete svg {
  width: 16px;
  position: absolute;
  top: 25px;
  left: 27px;
}

.autocomplete.focused path,
.autocomplete.focused ellipse {
  stroke: var(--theme-highlight-blue);
}

.autocomplete path,
.autocomplete ellipse {
  stroke: var(--theme-splitter-color);
}
