.breakpoints-list .breakpoint {
  font-size: 12px;
  list-style: none;
  color: var(--theme-content-color1);
  margin: 0.5em 0;
  line-height: 1em;
}

/*
.breakpoints-list .breakpoint.paused {
}
*/

.breakpoints-list .breakpoint.disabled .breakpoint-label {
  color: var(--theme-content-color3);
  transition: color 0.5s linear;
}

.breakpoints-list .breakpoint:hover {
  cursor: pointer;
  background-color: var(--theme-toolbar-background);
}

.breakpoints-list .breakpoint-label {
  display: inline-block;
}

.breakpoints-list .pause-indicator {
  float: right;
}
