.breakpoints-pane .breakpoint {
  font-size: 12px;
  list-style: none;
  color: var(--theme-content-color1);
  margin: 0.5em 0;
  line-height: 1em;
}

.breakpoints-pane .breakpoint.paused {
}

.breakpoints-pane .breakpoint.disabled .breakpoint-label {
  color: var(--theme-content-color3);
  transition: color 0.5s linear;
}

.breakpoints-pane .breakpoint:hover {
  cursor: pointer;
  background-color: var(--theme-toolbar-background);
}

.breakpoints-pane .breakpoint-label {
  display: inline-block;
}

.breakpoints-pane .pause-indicator {
  float: right;
}
