.breakpoints .breakpoint {
  font-size: 12px;
  list-style: none;
  color: var(--theme-content-color1);;
  margin: 0.5em 0;
  line-height: 1em;
}

.breakpoints .breakpoint:hover {
  cursor: pointer;
  background-color: var(--theme-toolbar-background);
}

.breakpoints .breakpoint-label {
  display: inline-block;
}

.breakpoints .pause-indicator {
  float: right;
}
