
.breakpoints-list .breakpoint {
  font-size: 12px;
  color: var(--theme-content-color1);
  margin: 0.25em 0;
  padding: 0.25em 0;
  line-height: 1em;
}

.breakpoints-list .breakpoint.paused {
  background-color: var(--theme-toolbar-background-alt);
}

.breakpoints-list .breakpoint.disabled .breakpoint-label {
  color: var(--theme-content-color3);
  transition: color 0.5s linear;
}

.breakpoints-list .breakpoint:hover {
  cursor: pointer;
  background-color: var(--theme-toolbar-background);
}

.breakpoints-list .breakpoint-label {
  display: inline-block;
}

.breakpoints-list .pause-indicator {
  flex: 0 1 content;
  order: 3;
}

.breakpoint-snippet {
  color: var(--theme-comment);
  padding-left: 20px;
}
