.close-btn path {
  fill: var(--theme-body-color);
}

.close-btn .close {
  width: 12px;
  height: 12px;
  padding: 2px;
  text-align: center;
  margin-top: 2px;
  line-height: 5px;
  transition: all 0.25s easeinout;
}

.close-btn .close svg {
  width: 6px;
}

.close-btn .close:hover {
  background: var(--theme-selection-background);
  border-radius: 2px;
}

.close-btn .close:hover path {
  fill: white;
}
