.close-btn path {
  fill: var(--theme-body-color);
}

.close-btn .close {
  display: inline;
  width: 12px;
  height: 12px;
  padding: 2px;
  text-align: center;
  margin-top: 2px;
  line-height: 5px;
  transition: all 0.25s easeinout;
}

.close-btn .close svg {
  width: 6px;
}

.close-btn .close:hover {
  background: var(--theme-selection-background);
  border-radius: 2px;
}

.close-btn .close:hover path {
  fill: white;
}

.close-btn.close-btn-big {
  position: absolute;
  top: 12px;
  right: 10px;
}

.close-btn.close-btn-big .close svg {
  width: 9px;
}

.close-btn.close-btn-big .close path {
  fill: var(--theme-splitter-color);
}