.dropdown {
  background: white;
  border: 1px solid var(--theme-splitter-color);
  width: 150px;
  max-height: 300px;
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 0px;
}

.dropdown li {
  padding-left: 10px;
  padding: 5px 10px;
  overflow: hidden;
  height: 30px;
}

.dropdown li:nth-of-type(2n) {
  background-color: var(--theme-tab-toolbar-background);
}

.dropdown li:hover {
  background-color: var(--theme-toolbar-background);
}

.dropdown li:hover {
  background: var(--theme-tab-toolbar-background);
  cursor: pointer;
}

.dropdown ul {
  list-style: none;
  line-height: 2em;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.dropdown-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  left: 0;
  top: 0;
}
