/* vim:set ts=2 sw=2 sts=2 et: */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * There's a known codemirror flex issue with chrome that this addresses.
 * BUG https://github.com/devtools-html/debugger.html/issues/63
 */
.editor-wrapper {
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top: 30px;
  left: 0px;
}

.editor-wrapper .breakpoints {
  position: absolute;
  top: 0;
  left: 0;
}

.editor.new-breakpoint svg {
  fill: var(--theme-selection-background);
  width: 60px;
  height: 12px;
  position: absolute;
  top: 0;
  right: -4px;
}

.editor.new-breakpoint.breakpoint-disabled svg {
  opacity: 0.3;
}

.editor-mount,
.CodeMirror {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* set the linenumber white when there is a breakpoint */
.new-breakpoint .CodeMirror-linenumber {
  color: white;
}

/* move the breakpoint below the linenumber */
.new-breakpoint .CodeMirror-gutter-elt:last-child {
  z-index: 0;
}

.debug-line .CodeMirror-line {
  background-color: var(--breakpoint-active-color) !important;
}

/* Don't display the highlight color since the debug line
   is already highlighted */
.debug-line .CodeMirror-activeline-background {
  display: none;
}
