
.frames ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frames ul li {
  cursor: pointer;
  padding: 10px;
  clear: both;
  overflow: hidden;
}

.frames ul li:nth-of-type(2n) {
  background-color: #f9f9f9;
}

.frames .location {
  float: right;
  color: #666666;
}

.frames .title {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 1em;
}

.frames ul li.selected,
.frames ul li.selected .location {
  background-color: var(--theme-selection-background);
  color: white;
}
