.arrow svg {
  fill: var(--theme-splitter-color);
  margin-right: 3px;
  margin-top: 3px;
  transform: rotate(-90deg);
  transition: transform 0.25s ease;
  width: 6px;
}

.arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}
