.right-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
}

.right-sidebar .accordion {
  overflow-y: auto;
  overflow-x: hidden;
}

.right-sidebar .command-bar {
  border-bottom: 1px solid var(--theme-splitter-color);
}

.command-bar {
  height: 30px;
  padding: 8px 5px 10px 10px;
}

.command-bar > span {
  cursor: pointer;
  margin-right: 0.7em;
  width: 16px;
  height: 17px;
  display: inline-block;
  text-align: center;
  transition: opacity 200ms;
}

.command-bar > span.disabled {
  opacity: 0.3;
  cursor: default;
}

.command-bar .stepOut {
  margin-right: 2em;
}

.command-bar .subSettings {
  float: right;
}

.pane {
  color: var(--theme-body-color);
}

.pane .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
}

.disableBreakpoints.breakpoints-disabled path {
  stroke: var(--theme-highlight-blue);
}

span.pause-exceptions.uncaught {
  stroke: var(--theme-highlight-purple);
}

span.pause-exceptions.all {
  stroke: var(--theme-highlight-blue);
}
