.right-sidebar {
  flex: 1;
}

.command-bar {
  border-bottom: 1px solid #cccccc;
  height: 30px;
  padding: 8px 5px 10px 10px;
}

.command-bar > span {
  cursor: pointer;
  margin-right: 0.7em;
  width: 1em;
  height: 1.1em;
  display: inline-block;
  text-align: center;
  transition: opacity 200ms;
}

.command-bar > span.disabled {
  opacity: 0.3;
  cursor: default;
}

.command-bar .stepOut {
  margin-right: 2em;
}

.command-bar .subSettings {
  float: right;
}

.accordion ._content {
  font-size: 0.75em;
  color: var(--theme-body-color);
}

.accordion .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
}
