.right-sidebar {
  flex: 1;
}

.command-bar {
  border-bottom: 1px solid #cccccc;
  height: 30px;
  padding: 5px;
}

.command-bar > span {
  cursor: pointer;
  margin-right: 0.2em;
  width: 1.8em;
  height: 1.1em;
  display: inline-block;
  text-align: center;
  transition: opacity 200ms;
}

.command-bar > span.disabled {
  opacity: 0.3;
  cursor: default;
}

.command-bar .isvg.loading::after {
  /* Make sure the SVG has some size while it's loading */
  content: "\007C\00a0\00a0";
}

.accordion ._content {
  font-size: 0.75em;
  color: var(--theme-body-color);
  padding: 5px;
}

.accordion .pane-info {
  font-style: italic;
  text-align: center;
}
