/* vim:set ts=2 sw=2 sts=2 et: */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.search-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: calc(100% - 1px);
  height: calc(100% - 31px);
  display: flex;
  z-index: 200;
  background-color: var(--theme-body-background);
}

.cm-match {
  background: none;
  border: 1px solid #AAA;
}

.search-container .autocomplete {
  flex: 1;
}
