.sources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sources-header {
  flex: 0 0 40px;
  border-bottom: 1px solid var(--theme-gray);
}

.sources-list {
  flex: 1;
  display: flex;
  overflow: hidden;
  font-size: 0.9em;
  padding-left: 10px;
}

ul.sources-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  padding-left: 10px;
  flex: 1;
  white-space: nowrap;
}

.sources-list ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

.sources-list .source-item {
  list-style: none;
  white-space: nowrap;
}

.sources-list .label {
  font-size: 1em;
  padding-left: 10px;
  color: var(--theme-comment);
}

.sources-list .source-item:hover {
  cursor: pointer;
  background: var(--theme-tab-toolbar-background);
}

.sources-list .source-item.selected {
  background-color: var(--theme-selection-background);
}

.sources-list .source-item.selected .label {
  color: var(--theme-selection-color);
}

.arrow svg {
  fill: var(--theme-splitter-color);
  margin-right: 3px;
  margin-top: 3px;
  transform: rotate(-90deg);
  transition: transform 0.25s ease;
  width: 10px;
}

.arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  display: none;
}

.tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  flex: 1;
  white-space: nowrap;
  overflow: auto;
}

.tree button {
  display: block;
}

.tree .node {
  padding: 5px;
}

.tree .node.focused {
  color: white;
  background-color: var(--theme-selection-background);
}

.tree .node.focused svg {
  fill: white;
}

.sources-list .tree-node button {
  position: fixed;
}
