.source-header {
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 30px;
  flex: 1;
}

.source-header * {
  -moz-user-select: none;
  user-select: none;
}

.source-tabs {
  min-width: 50px;
  max-width: calc(100% - 60px);
  overflow: hidden;
  float: left;
}

.source-header .new-tab-btn {
  width: 16px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 4px;
  line-height: 0;
}

.source-header .new-tab-btn path {
  fill: var(--theme-splitter-color);
}

.source-header .new-tab-btn:hover path {
  fill: var(--theme-comment);
}

.source-tab {
  background-color: var(--theme-toolbar-background-alt);
  color: var(--theme-faded-tab-color);
  border: 1px solid var(--theme-splitter-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 23px;
  line-height: 20px;
  display: inline-block;
  border-bottom: none;
  position: relative;
  transition: all 0.25s ease;
  min-width: 40px;
  max-width: 132px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}

html:not([dir="rtl"]) .source-tab {
  padding: 2px 20px 2px 12px;
  margin: 6px 0 0 8px;
}

html[dir="rtl"] .source-tab {
  padding: 2px 12px 2px 20px;
  margin: 6px 8px 0 0;
}

.source-tab:hover {
  background: var(--theme-toolbar-background);
  cursor: pointer;
}

.source-tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
}

.source-tab path {
  fill: var(--theme-faded-tab-color);
}

.source-tab.active path {
  fill: var(--theme-body-color);
}

.source-tab .close-btn {
  position: absolute;
  top: 3px;
}

.source-tab .filename {
  text-overflow: ellipsis;
  overflow: hidden;
}

html:not([dir="rtl"]) .source-tab .close-btn {
  right: 4px;
}

html[dir="rtl"] .source-tab .close-btn {
  left: 4px;
}

.source-tab .close {
  display: none;
}

.source-tab:hover .close {
  display: block;
}

.source-header .subsettings {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 12px;
  height: 12px;
  color: var(--theme-body-color);
}
