.source-header {
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 30px;
  flex: 1;
}

.source-header * {
  -moz-user-select: none;
  user-select: none;
}

.source-tabs {
  width: calc(100% - 30px);
  overflow: hidden;
}

.source-tab {
  background-color: var(--theme-toolbar-background-alt);
  color: var(--theme-faded-tab-color);
  border: 1px solid var(--theme-splitter-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 2px 20px 2px 12px;
  height: 23px;
  line-height: 20px;
  margin: 6px 0 0 8px;
  display: inline-block;
  border-bottom: none;
  position: relative;
  transition: all 0.25s ease;
}

.source-tab:hover {
  background: var(--theme-toolbar-background);
  cursor: pointer;
}

.source-tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  height: 24px;
}

.source-tab path {
  fill: var(--theme-faded-tab-color);
}

.source-tab.active path {
  fill: var(--theme-body-color);
}

.source-tab .close-btn {
  position: absolute;
  right: 4px;
  top: 3px;
}

.source-tab .close {
  display: none;
}

.source-tab:hover .close {
  display: block;
}

.source-header .subsettings {
  position: absolute;
  right: 3px;
  top: 9px;
}

.sources-dropdown {
  position: absolute;
  top: 35px;
  right: 0px;
}
