.sources-panel {
  flex: 1;
}

.sources-header {
  height: 30px;
  border-bottom: 1px solid var(--theme-gray);
}

.sources-list {
  font-size: 0.75em;
  line-height: 2;
  list-style: none;
  padding-left: 20px;
}

ul.sources-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  padding-left: 10px;
  flex: 1;
  white-space: nowrap;
}

.sources-list ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

.sources-list .source-item {
  list-style: none;
}

.sources-list .label {
  font-size: 1em;
  padding-left: 10px;
  color: var(--theme-comment);
}

.sources-list .source-item:hover {
  cursor: pointer;
  background: var(--theme-tab-toolbar-background);
}

.sources-list .source-item.selected {
  background-color: var(--theme-selection-background);
}

.sources-list .source-item.selected .label {
  color: var(--theme-selection-color);
}
