.source-header {
  border-bottom: 1px solid var(--theme-gray);
  height: 30px;
  flex: 1;
}

.source-tabs {
  width: calc(100% - 30px);
  overflow: hidden;
}

.source-tab {
  border: 1px solid var(--theme-gray);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 2px 20px 2px 10px;
  height: 23px;
  line-height: 20px;
  color: var(--theme-comment);
  font-size: 0.7em;
  margin: 6px 0 0 10px;
  display: inline-block;
  border-bottom: none;
  position: relative;
}

.source-tab:hover {
  background: var(--theme-toolbar-background);
  cursor: pointer;
}

.source-tab.active {
  background: var(--theme-selection-background);
  border-color: var(--theme-selection-background);
  color: white;
}

.source-tab.active path {
  fill: white;
}

.source-tab .close-btn {
  position: absolute;
  right: 7px;
  top: 1px;
  width: 6px;
  height: 6px;
}

.source-header .subsettings {
  position: absolute;
  right: 3px;
  top: 9px;
}

.sources-dropdown {
  position: absolute;
  top: 35px;
  right: 0px;
}
