.sources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sources-header {
  flex: 0 0 40px;
  border-bottom: 1px solid var(--theme-gray);
}

.sources-list {
  flex: 1;
  display: flex;
  overflow: hidden;
  font-size: 0.75em;
}

ul.sources-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  padding-left: 10px;
  flex: 1;
  white-space: nowrap;
}

.sources-list ul {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

.sources-list .source-item {
  list-style: none;
  white-space: nowrap;
}

.sources-list .label {
  font-size: 1em;
  padding-left: 10px;
  color: var(--theme-comment);
}

.sources-list .source-item:hover {
  cursor: pointer;
  background: var(--theme-tab-toolbar-background);
}

.sources-list .source-item.selected {
  background-color: var(--theme-selection-background);
}

.sources-list .source-item.selected .label {
  color: var(--theme-selection-color);
}

.arrow,
.folder,
.domain,
.file,
.worker {
  fill: var(--theme-splitter-color);
}

.domain,
.file,
.worker {
  position: relative;
  top: 1px;
}

.worker {
  top: 2px;
}

.domain svg,
.folder svg,
.worker svg {
  width: 15px;
  margin-right: 5px;
}

.file svg {
  width: 13px;
  margin-right: 5px;
}
