.split-box {
  display: flex;
  flex: 1;
  min-width: 0;
}

.split-box .uncontrolled {
  display: flex;
  flex: 1;
  min-width: 0;
  overflow: auto;
}

.split-box .controlled {
  display: flex;
  overflow: auto;
  /*transition: width 0.5s ease;*/
}

.split-box .controlled.collapsed {
  width: 0;
}

.split-box .splitter {
  background-color: var(--theme-splitter-color);
  border-bottom-width: 0;
  border-color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 0;
  box-sizing: content-box;
  cursor: ew-resize;
  flex: 0 0 1px;
}
