.split-box {
  display: flex;
  flex: 1;
  min-width: 0;
}

.split-box .uncontrolled {
  display: flex;
  flex: 1;
  min-width: 0;
  overflow: auto;
}

.split-box .controlled {
  display: flex;
  overflow: auto;
  transition: width 0.5s ease;
}

.split-box .controlled.collapsed {
  width: 0;
}

.split-box .splitter {
  background-color: var(--theme-splitter-color);
  flex: 0 0 1px;
  position: relative;
}

/* The actual handle that users drag is a transparent element that's slightly wider than
   the splitter element itself, so it's easier to grab it. */
.split-box .splitter .splitter-handle {
  cursor: ew-resize;
  position: absolute;
  top: 0;
  left: -4px;
  width: 8px;
  height: 100%;

  /* Stack above the code-mirror editor so it's actually possible to grab the handle. */
  z-index: 5;
}
