.tabs {
  margin: 100px auto;
  margin-bottom: 0;
  width: calc(100% - 200px);
}

.tabs .tab-group {
  margin-top: 20px;
}

.tabs .tab-group-title {
  margin: 0 0 1em 10px;
  color: var(--theme-highlight-lightorange);
}

.tabs .tab-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tabs .tab:first-child {
  border-top: 1px solid #dddddd;
}

.tabs .tab {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.9em;
}

.tabs .tab:hover {
  background-color: var(--theme-toolbar-background);
  cursor: pointer;
}

.tabs .tab-title {
  line-height: 25px;
  color: var(--theme-content-color1);
}

.tabs .tab-url {
  color: var(--theme-highlight-bluegrey);
}

.not-connected-message {
  margin: auto;
  padding: 50px 100px;
  border: 1px solid #dddddd;
  background-color: #fbfbfb;
  color: #9a9a9a;
}

.node-message {
  margin: 3em 0;
  text-align: center;
  font-size: 0.9em;
}
