/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.breakpoints-toggle {
  margin: 2px 3px;
}

.breakpoints-list * {
  user-select: none;
}

.breakpoints-list .breakpoint {
  font-size: 12px;
  color: var(--theme-content-color1);
  padding: 0.5em 1em 0.5em 0.5em;
  line-height: 1em;
  position: relative;
  transition: all 0.25s ease;
}

html[dir="rtl"] .breakpoints-list .breakpoint {
  border-right: 4px solid transparent;
}

html:not([dir="rtl"]) .breakpoints-list .breakpoint {
  border-left: 4px solid transparent;
}

.breakpoints-list .breakpoint:last-of-type {
  padding-bottom: 0.45em;
}

html:not([dir="rtl"]) .breakpoints-list .breakpoint.is-conditional {
  border-left-color: var(--theme-graphs-yellow);
}

html[dir="rtl"] .breakpoints-list .breakpoint.is-conditional {
  border-right-color: var(--theme-graphs-yellow);
}

html .breakpoints-list .breakpoint.paused {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--breakpoint-active-color);
}

.breakpoints-list .breakpoint.disabled .breakpoint-label {
  color: var(--theme-content-color3);
  transition: color 0.5s linear;
}

.breakpoints-list .breakpoint:hover {
  background-color: var(--search-overlays-semitransparent);
}

.breakpoints-list .breakpoint.paused:hover {
  border-color: var(--breakpoint-active-color-hover);
}

.breakpoints-list .breakpoint-label {
  max-width: calc(100% - var(--breakpoint-expression-right-clear-space));
  display: inline-block;
  padding-inline-start: 2px;
  cursor: default;
}

.breakpoint-label .breakpoint-checkbox {
  margin-inline-start: 0;
  vertical-align: text-bottom;
}

.breakpoint-label .location {
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 1px 0;
  vertical-align: bottom;
}

.breakpoints-list .pause-indicator {
  flex: 0 1 content;
  order: 3;
}

:root.theme-light .breakpoint-snippet,
:root.theme-firebug .breakpoint-snippet {
  color: var(--theme-comment);
}

:root.theme-dark .breakpoint-snippet {
  color: var(--theme-body-color);
  opacity: 0.6;
}

.breakpoint-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
}

.breakpoint .close-btn {
  position: absolute;
  offset-inline-end: 13px;
  offset-inline-start: auto;
  top: 9px;
}

.breakpoint .close {
  visibility: hidden;
}

.breakpoint:hover .close {
  visibility: visible;
}
