.dropdown span.icon-spacer {
  margin-left: 8px;
}

img.pause-next,
img.pause-on-exceptions,
img.pause-uncaught-exceptions,
img.ignore-exceptions {
  vertical-align: middle;
  width: 16px;
  height: 20px;
  display: inline-block;
}

.dropdown div > img.pause-next {
  mask: url(/images/pause.svg) no-repeat;
  background-color: var(--theme-body-color);
}

.dropdown div > img.ignore-exceptions {
  mask: url(/images/pause-exceptions.svg) no-repeat;
  background-color: var(--theme-body-color);
}

.dropdown div > img.pause-uncaught-exceptions {
  mask: url(/images/pause-exceptions.svg) no-repeat;
  background-color: var(--theme-highlight-purple);
}

.dropdown div > img.pause-on-exceptions {
  mask: url(/images/pause-exceptions.svg) no-repeat;
  background-color: var(--theme-highlight-blue);
}

.dropdown div.pause-next.active,
.dropdown div.pause-on-exceptions.active,
.dropdown div.pause-uncaught-exceptions.active,
.dropdown div.ignore-exceptions.active > span.icon-spacer {
  color: var(--theme-highlight-blue);
}
