.command-bar {
  flex: 0 0 29px;
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  overflow: hidden;
  position: sticky;
  z-index: 1;
  background-color: var(--theme-toolbar-background);
}

html[dir="rtl"] .command-bar {
  border-right: 1px solid var(--theme-splitter-color);
}

.theme-dark .command-bar {
  background-color: var(--theme-tab-toolbar-background);
}

.command-bar > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 8px 5px;
  position: relative;
  fill: currentColor;
}

.command-bar > button:not(.disabled):hover {
  background: var(--theme-toolbar-background-hover);
}

:root.theme-dark .command-bar > button {
  color: var(--theme-body-color);
}

.command-bar > button {
  margin-inline-end: 0.7em;
}

.command-bar > button:focus {
  outline: none;
}

html .command-bar > button:disabled {
  opacity: 0.8;
  cursor: default;
}

.command-bar > button > i {
  height: 100%;
  width: 100%;
  display: block;
}

.command-bar > button > i > svg {
  width: 16px;
  height: 16px;
}

.command-bar button.pause-exceptions {
  margin-inline-start: 0.5em;
}

.command-bar .subSettings {
  float: right;
}

.command-bar button.pause-exceptions.uncaught {
  color: var(--theme-highlight-purple);
}

.command-bar button.pause-exceptions.all {
  color: var(--theme-highlight-blue);
}

.bottom {
  border-bottom: none;
  background-color: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  flex: 0 0 27px;
}

.command-bar > button {
  padding: 6px 5px;
}
