.command-bar {
  flex: 0 0 30px;
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  height: 30px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--theme-body-background);
}

.theme-dark .command-bar {
  background-color: var(--theme-tab-toolbar-background);
}

.command-bar > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.25s ease;
  padding: 8px 5px;
  position: relative;
  fill: currentColor;
}

:root.theme-dark .command-bar > button {
  color: var(--theme-body-color);
}

.command-bar > button {
  margin-inline-end: 0.7em;
}

html .command-bar > button:disabled {
  opacity: 0.3;
  cursor: default;
}

.command-bar > button > i {
  height: 100%;
  width: 100%;
  display: block;
}

.command-bar > button > i > svg {
  width: 16px;
  height: 16px;
}

.command-bar button.pause-exceptions {
  margin-inline-start: 0.5em;
}

.command-bar .subSettings {
  float: right;
}

.command-bar button.pause-exceptions.uncaught {
  color: var(--theme-highlight-purple);
}

.command-bar button.pause-exceptions.all {
  color: var(--theme-highlight-blue);
}
