/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.command-bar {
  flex: 0 0 30px;
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: var(--theme-toolbar-background);
}

html[dir="rtl"] .command-bar {
  border-right: 1px solid var(--theme-splitter-color);
}

.theme-dark .command-bar {
  background-color: var(--theme-toolbar-background);
}

img.pause,
img.stepOver,
img.stepIn,
img.stepOut,
img.resume {
  background-color: var(--theme-body-color);
}

.command-bar img.pause {
  mask: url(/images/pause.svg) no-repeat;
}

.command-bar img.stepOver {
  mask: url(/images/stepOver.svg) no-repeat;
}

.command-bar img.stepIn {
  mask: url(/images/stepIn.svg) no-repeat;
}

.command-bar img.stepOut {
  mask: url(/images/stepOut.svg) no-repeat;
}

.command-bar img.resume {
  mask: url(/images/resume.svg) no-repeat;
}

.command-bar > .pause-exceptions.uncaught.enabled > img.pause-exceptions {
  background-color: var(--theme-highlight-purple);
}

.command-bar > .pause-exceptions.all.enabled > img.pause-exceptions {
  background-color: var(--theme-highlight-blue);
}

.command-bar > .pause-exceptions.enabled > img.pause-exceptions {
  background-color: var(--theme-body-color);
}

.command-bar img.pause-exceptions {
  mask: url(/images/pause-exceptions.svg) no-repeat;
  margin-inline-start: 0.2em;
}

.command-bar .subSettings {
  float: right;
}

.bottom {
  border-bottom: none;
  background-color: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  flex: 0 0 25px;
}

.command-bar.bottom {
  justify-content: flex-end;
}

.command-bar.bottom > button {
  color: var(--theme-comment);
  width: 26px;
}
.command-bar.bottom > button:hover {
  color: var(--theme-body-color);
}
