/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.input-expression {
  width: 100%;
  margin: 0px;
  border: 1px;
  background-color: var(--theme-sidebar-background);
  font-size: 12px;
  padding: 0px 20px;
  color: var(--theme-body-color);
}

.input-expression::placeholder {
  text-align: center;
  font-style: italic;
  color: var(--theme-comment-alt);
  opacity: 1;
}

.input-expression:focus {
  outline: none;
  cursor: text;
}

.expressions-list {
  /* TODO: add normalize */
  margin: 0;
  padding: 0;
}
.expression-input-container {
  padding: 0.5em;
  display: flex;
}

.expression-container {
  border: 1px;
  padding: 0.25em 1em 0.25em 0.5em;
  width: 100%;
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  display: block;
  position: relative;
}

.expression-container > .tree {
  width: 100%;
  overflow: hidden;
}

:root.theme-light .expression-container:hover {
  background-color: var(--theme-tab-toolbar-background);
}

:root.theme-dark .expression-container:hover {
  background-color: var(--search-overlays-semitransparent);
}

.expression-container__close-btn {
  position: absolute;
  offset-inline-end: 0px;
  top: 4px;
}

.expression-content {
  position: relative;
}

.expression-content .tree {
  overflow-x: hidden;
  max-width: calc(100% - var(--breakpoint-expression-right-clear-space));
}

.expression-content .tree-node {
  overflow-x: hidden;
}

.expression-container:hover .close-btn {
  display: block;
}

.expression-input {
  max-width: 50%;
}
