.input-expression {
  width: 100%;
  margin: 0px;
  border: 1px;
  cursor: pointer;
  background-color: var(--theme-body-background);
  font-size: 12px;
  padding: 0px 20px;
  color: var(--theme-highlight-blue);
}

.input-expression::-webkit-input-placeholder {
  text-align: center;
  font-style: italic;
  color: var(--theme-comment-alt);
}

.input-expression::placeholder {
  text-align: center;
  font-style: italic;
  color: var(--theme-comment-alt);
  opacity: 1;
}

.input-expression:focus {
  outline: none;
  cursor: text;
}

.expression-input-container {
  padding: 0.5em;
  display: flex;
}

.expression-container {
  border: 1px;
  padding: 8px 5px 0px 0px;
  width: 100%;
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  display: flex;
  position: relative;
}

.expression-container > .tree {
  width: 100%;
  overflow: hidden;
}

:root.theme-light .expression-container:hover {
  background-color: var(--theme-tab-toolbar-background);
}

:root.theme-dark .expression-container:hover {
  background-color: var(--search-overlays-semitransparent);
}

.expression-container .close-btn {
  position: absolute;
  offset-inline-end: 6px;
  top: 6px;
}

.expression-container .close {
  display: none;
}

.expression-container:hover .close {
  display: block;
}

.expression-input {
  cursor: pointer;
  max-width: 50%;
}

.expression-separator {
  padding: 0px 5px;
}

.expression-value {
  overflow-x: scroll;
  color: var(--theme-content-color2);
  max-width: 50% !important;
}

.expression-error {
  color: var(--theme-highlight-red);
}
