/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.object-node.default-property {
  opacity: 0.6;
}

.object-label {
  color: var(--theme-highlight-blue);
}

.objectBox-object,
.objectBox-string,
.objectBox-text,
.objectBox-table,
.objectLink-textNode,
.objectLink-event,
.objectLink-eventLog,
.objectLink-regexp,
.objectLink-object,
.objectLink-Date,
.theme-dark .objectBox-object,
.theme-light .objectBox-object {
  white-space: nowrap;
}

.scopes-pane {
  overflow: auto;
}

.scopes-list {
  padding-inline-start: 4px;
}

.scopes-list .function-signature {
  display: inline-block;
}
