.secondary-panes {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  --breakpoint-expression-right-clear-space: 36px;
}

/*
  We apply overflow to the container with the commandbar.
  This allows the commandbar to remain fixed when scrolling
  until the content completely ends. Not just the height of
  the wrapper.
  Ref: https://github.com/devtools-html/debugger.html/issues/3426
*/

.secondary-panes-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.secondary-panes .accordion {
  flex: 1 0 auto;
}

.pane {
  color: var(--theme-body-color);
}

.pane .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.theme-dark .secondary-panes .accordion .arrow svg {
  fill: var(--theme-content-color3);
}

.secondary-panes .breakpoints-buttons {
  display: flex;
}

.accordion .breakpoints-buttons .plus svg {
  width: 12px;
  margin-top: 3px;
  fill: var(--theme-comment-alt);
}
