.secondary-panes {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
}

.secondary-panes * {
  -moz-user-select: none;
  user-select: none;
}

.secondary-panes .accordion {
  overflow-y: auto;
  overflow-x: hidden;
}

.pane {
  color: var(--theme-body-color);
}

.pane .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  -moz-user-select: none;
  user-select: none;
}
