.secondary-panes {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
}

.secondary-panes .accordion {
  flex: 1 0 auto;
}

.pane {
  color: var(--theme-body-color);
}

.pane .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  -moz-user-select: none;
  user-select: none;
}

.theme-dark .secondary-panes .accordion .arrow svg {
  fill: var(--theme-content-color3);
}
