/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.why-paused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  border-bottom: 1px solid var(--theme-splitter-color);
  color: var(--theme-body-color);
  font-size: 12px;
  cursor: default;
  height: 44px;
  padding: 4px 20px;
}

.why-paused > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}

.why-paused .pause.reason {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.why-paused .message {
  font-style: italic;
  font-weight: 100;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.why-paused .message.warning {
  color: var(--theme-graphs-red);
  font-weight: bold;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


