
.why-paused {
  background-color: var(--breakpoint-active-color);
  border: 1.7px solid var(--breakpoint-active-color);
  color: var(--theme-highlight-blue);
  padding: 10px 10px 10px 20px;
  white-space: normal;
  opacity: 0.9;
  font-size: 12px;
  font-weight: bold;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}
