
.why-paused {
  background-color: var(--breakpoint-active-color);
  color: var(--theme-highlight-blue);
  padding: 10px 10px 10px 20px;
  white-space: normal;
  opacity: 0.9;
  font-size: 12px;
  font-weight: bold;
  flex: 0 1 auto;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}

.why-paused .message {
  font-size: 10px;
}
