/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.workers-list * {
  user-select: none;
}

.workers-list .worker {
  font-size: 1rem;
  color: var(--theme-content-color1);
  padding: 0 1em;
  line-height: 31px;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
}

.worker-list .worker:hover {
  background-color: var(--search-overlays-semitransparent);
}
