
.accordion {
    background-color: var(--theme-body-background);
}

.accordion ._header {
    background-color: var(--theme-sidebar-background);
    border-bottom: 1px solid #d0d0d0;
    padding: 5px;
    font-size: 12px;

    cursor: pointer;
}

.accordion .opened ._header:before {
    transform: rotate(90deg);
}

.accordion ._header:before {
    content: ' ';
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #606060;
    margin: 5px;
    margin-top: 3px;
    transition: transform .1s;
}

.accordion ._content {
    border-bottom: 1px solid #d0d0d0;
}