/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.editor.breakpoint {
  fill: var(--theme-selection-background);
  width: 40px;
}

.theme-body {
  background: var(--theme-body-background);
  color: var(--theme-body-color);
}

.theme-sidebar {
  color: var(--theme-body-color);
}

.devtools-dark-theme .theme-sidebar {
  background: var(--theme-sidebar-background);
  color: var(--theme-content-color1);
}

::-moz-selection {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.theme-bg-darker {
  background: var(--theme-selection-background-semitransparent);
}

.theme-selected,
.CodeMirror-hint-active {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.theme-bg-contrast,
.variable-or-property:not([overridden])[changed] {
  background: var(--theme-contrast-background);
}

.theme-link,
.cm-link,
.CodeMirror-Tern-type {
  color: var(--theme-highlight-blue);
}

.theme-link:visited,
.cm-link:visited,
.CodeMirror-Tern-type {
  color: var(--theme-highlight-blue);
}

.theme-comment,
.cm-meta,
.cm-hr,
.cm-comment,
.variable-or-property .token-undefined,
.variable-or-property .token-null,
.CodeMirror-Tern-completion-unknown:before {
  color: var(--theme-comment);
}

.theme-gutter {
  background-color: var(--theme-tab-toolbar-background);
  color: var(--theme-content-color3);
  border-color: var(--theme-splitter-color);
}

.theme-separator {
  border-color: var(--theme-splitter-color);
}

.theme-fg-color1,
.cm-number,
.variable-or-property .token-number,
.variable-or-property[return] > .title > .name,
.variable-or-property[scope] > .title > .name {
  color: var(--theme-highlight-green);
}

.CodeMirror-Tern-completion-number:before {
  background-color: hsl(72, 100%, 27%);
}

.devtools-dark-theme .CodeMirror-Tern-completion-number:before {
  background-color: #5c9966;
}

.theme-fg-color2,
.cm-attribute,
.cm-variable,
.cm-def,
.cm-property,
.cm-qualifier,
.variables-view-variable > .title > .name {
  color: var(--theme-highlight-blue);
}

.CodeMirror-Tern-completion-object:before {
  background-color: hsl(208, 56%, 40%);
}

.devtools-dark-theme .CodeMirror-Tern-completion-object:before {
  background-color: #3689b2;
}

.cm-unused-line {
  text-decoration: line-through;
  text-decoration-color: #0072ab;
}

.cm-executed-line {
  background-color: #133c26;
}

.theme-fg-color3,
.cm-builtin,
.cm-tag,
.cm-header,
.cm-bracket,
.variables-view-property > .title > .name {
  color: var(--theme-highlight-bluegrey);
}

.devtools-dark-theme .theme-fg-color3,
.devtools-dark-theme .cm-builtin,
.devtools-dark-theme .cm-tag,
.devtools-dark-theme .cm-header,
.devtools-dark-theme .cm-bracket,
.devtools-dark-theme .variables-view-property > .title > .name {
  color: var(--theme-highlight-pink);
}

.CodeMirror-Tern-completion-array:before {
  background-color: var(--theme-highlight-bluegrey);
}

.theme-fg-color4 {
  color: var(--theme-highlight-orange);
}

.devtools-dark-theme .theme-fg-color4 {
  color: var(--theme-highlight-purple);
}

.theme-fg-color5,
.cm-keyword {
  color: var(--theme-highlight-lightorange);
}

.theme-fg-color6,
.cm-string,
.cm-string-2,
.variable-or-property .token-string,
.CodeMirror-Tern-farg {
  color: var(--theme-highlight-orange);
}

.CodeMirror-Tern-completion-string:before,
.CodeMirror-Tern-completion-fn:before {
  background-color: hsl(24, 85%, 39%);
}

.devtools-dark-theme .CodeMirror-Tern-completion-string:before,
.devtools-dark-theme .CodeMirror-Tern-completion-fn:before {
  background-color: #b26b47;
}

.theme-fg-color7,
.cm-atom,
.cm-quote,
.cm-error,
.variable-or-property .token-boolean,
.variable-or-property .token-domnode,
.variable-or-property[exception] > .title > .name {
  color: var(--theme-highlight-red);
}

.CodeMirror-Tern-completion-bool:before {
  background-color: #bf5656;
}

.variable-or-property .token-domnode {
  font-weight: bold;
}

.theme-toolbar,
.devtools-toolbar,
.devtools-sidebar-tabs tabs,
.devtools-sidebar-alltabs,
.CodeMirror-dialog {
  /* General toolbar styling */
  color: var(--theme-body-color);
  background-color: var(--theme-toolbar-background);
  border-color: var(--theme-splitter-color);
}

.devtools-dark-theme .theme-toolbar,
.devtools-dark-theme .devtools-toolbar,
.devtools-dark-theme .devtools-sidebar-tabs tabs,
.devtools-dark-theme .devtools-sidebar-alltabs,
.devtools-dark-theme .CodeMirror-dialog {
  /* General toolbar styling */
  color: var(--theme-body-color-alt);
  background-color: var(--theme-toolbar-background);
  border-color: hsla(210, 8%, 5%, .6);
}

.theme-fg-contrast {
  /* To be used for text on theme-bg-contrast */
  color: black;
}

.ruleview-swatch,
.computedview-colorswatch {
  box-shadow: 0 0 0 1px #c4c4c4;
}

.devtools-dark-theme .ruleview-swatch,
.devtools-dark-theme .computedview-colorswatch {
  box-shadow: 0 0 0 1px #818181;
}

.CodeMirror {
  /* Inherit platform specific font sizing and styles */
  font-family: inherit;
  font-size: 11px;
  height: 100%;
  background: var(--theme-body-background);
}

.devtools-dark-theme .CodeMirror {
  background: var(--theme-body-background);
}

.CodeMirror pre,
.cm-variable-2,
.cm-variable-3,
.cm-operator,
.cm-special {
  color: var(--theme-body-color);
}

.devtools-dark-theme .CodeMirror pre,
.devtools-dark-theme .cm-variable-2,
.devtools-dark-theme .cm-variable-3,
.devtools-dark-theme .cm-operator,
.devtools-dark-theme .cm-special {
  color: var(--theme-content-color1);
}

.CodeMirror-lines .CodeMirror-cursor {
  border-left: solid 1px black;
}

.devtools-dark-theme .CodeMirror-lines .CodeMirror-cursor {
  border-left: solid 1px #fff;
}

.CodeMirror-focused .CodeMirror-selected {
  /* selected text (focused) */
  background: rgb(185, 215, 253);
}

.CodeMirror-selected {
  /* selected text (unfocused) */
  background: rgb(176, 176, 176);
}

.CodeMirror-activeline-background {
  /* selected color with alpha */
  background: rgba(185, 215, 253, .35);
}

.devtools-dark-theme .CodeMirror-activeline-background {
  background: rgba(185, 215, 253, .15);
}

div.cm-s-mozilla span.CodeMirror-matchingbracket {
  /* highlight brackets */
  outline: solid 1px rgba(0, 0, 0, .25);
  color: black;
}

.devtools-dark-theme div span.CodeMirror-matchingbracket {
  outline: solid 1px rgba(255, 255, 255, .25);
  color: white;
}

/* Highlight for a line that contains an error. */
div.CodeMirror div.error-line {
  background: rgba(255, 0, 0, 0.2);
}

/* Generic highlighted text */
div.CodeMirror span.marked-text {
  background: rgba(255, 255, 0, 0.2);
  border: 1px dashed rgba(192, 192, 0, 0.6);
  -moz-margin-start: -1px;
  -moz-margin-end: -1px;
}

/* Highlight for evaluating current statement. */
div.CodeMirror span.eval-text {
  background-color: #ccd;
}

.devtools-dark-theme div.CodeMirror span.eval-text {
  background-color: #556;
}

.CodeMirror-linenumber {
  /* line number text */
  color: var(--theme-content-color3);
}

.CodeMirror-gutters {
  /* vertical line next to line numbers */
  border-right-color: var(--theme-toolbar-background);
  background-color: var(--theme-sidebar-background);
}

.cm-s-markup-view pre {
  line-height: 1.4em;
  min-height: 1.4em;
}

.CodeMirror-Tern-fname {
  color: #f7f7f7;
}

.CodeMirror-hints,
.CodeMirror-Tern-tooltip {
  box-shadow: 0 0 4px rgba(128, 128, 128, .5);
  background-color: var(--theme-sidebar-background);
}

.devtools-dark-theme .CodeMirror-hints,
.devtools-dark-theme .CodeMirror-Tern-tooltip {
  box-shadow: 0 0 4px rgba(255, 255, 255, .3);
  background-color: #0f171f;
  color: var(--theme-body-color);
}