.worker,
.folder {
    position: relative;
    top: 2px;
}

.arrow,
.folder,
.domain,
.file,
.worker,
.refresh,
.add-button {
    fill: var(--theme-splitter-color);
}

.domain,
.file,
.worker,
.refresh,
.add-button {
    position: relative;
    top: 1px;
}

.domain svg,
.folder svg,
.worker svg,
.refresh svg,
.add-button svg {
    width: 15px;
    fill: currentColor;
}

.file svg {
    width: 13px;
}

html:not([dir="rtl"]) .file svg,
html:not([dir="rtl"]) .domain svg,
html:not([dir="rtl"]) .folder svg,
html:not([dir="rtl"]) .refresh svg,
html:not([dir="rtl"]) .worker svg {
    margin-right: 5px;
}

html[dir="rtl"] .file svg,
html[dir="rtl"] .domain svg,
html[dir="rtl"] .folder svg,
html[dir="rtl"] .worker svg,
html[dir="rtl"] .refresh svg {
    margin-left: 5px;
}
